<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>{{ title }}</title>        
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        {% block css %}{% endblock css %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/autoNumeric-1.7.5.js"> </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/common_ui.js"></script>
		{% block js %}{% endblock js %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"> </script>
	</head>
	<body>
		<form action="" method="post" class="table-form">
			<table class="ui-widget ui-widget-content ui-corner-all" style="margin: 10px auto">
				<thead>
					<tr>
						<td colspan="100%">
						<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
							{{ dialig_title }}				
						</div></td>
					</tr>
				</thead>
				<tbody>
					{% block content %}{% endblock content %}
				</tbody>
				<tfoot class="button">
					<tr>
						<td colspan="100%">
						{% load i18n %}
						<input value="{% trans 'Save and continue editing' %}" type="submit" name="_continue"/>
						<input value="{% trans 'Save' %}" type="submit" name="_save"/>
						</td>
					</tr>
				</tfoot>
			</table>

		</form>
	</body>
</html>

