<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css"/>
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>		
		<script type="text/javascript" src="{{ STATIC_URL }}js/common_ui.js"></script>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header"></div>
			<div id="content">
				<div id="left">{% block left %}{% endblock %}</div>
				<div id="right">{% block right %}{% endblock %}</div>
			</div>
			<div id="footer"></div>
		</div>
	</body>
</html>