{% extends "base.html" %}
{% load link_helper %}
{% load paginator %}
{% load query_string %}
{% load humanize %}

{% block topbar %}
<div class="topbar button">        
    {% include 'prev_view.html' %}
</div>
{% endblock %}

{% block page_header %}
	Подробная информация о заявке [{{ bid.id }}]
{% endblock %}

{% block left %}
<fieldset class="table-form ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Информация о заявке</legend>
<table>
	<tr>
		<th>Код:</th>
		<td style="font-weight: bold"><a title="Редактирование заявки" href="{% url bid_update bid.pk %}?{{ next_url }}">{{ bid.pk }}</a></td>
	</tr>
	<tr>
        <th>Статус:</th>
        <td>{% comma_list bid.bid_status %}</td>
    </tr>
	<tr>
        <th>Заказчик:</th>
        <td> <a title="Редактирование заказчика" href="{% url client_update bid.client.pk %}?{{ next_url }}">[{{ bid.client.pk }}]</a>
        	<a title="Просмотр карточки заказчика" href="{% url client_detail bid.client.pk %}?{{ next_url }}">{{ bid.client.name }}</a>
        	{% contact_list bid.client next_url %}
        	</td>
    </tr>    
	<tr>
        <th>Риэлторы:</th>
        <td>
         {% for broker in bid.brokers.all %}{{ broker }}{% endfor %}
        </td>
    </tr>
	<tr>
		<th>Виды недвижимости:</th>
		<td>
			<a title="Редактирование заявки" href="{% url bid_update bid.pk %}?{{ next_url }}">
				{{ bid.mixed_estate_types }}
			</a>
        </td>
	</tr>
	<tr>
        <td>Коды на осмотр:</td>
        <td>{% comma_list bid.estates None 'id' %}</td>
	</tr>
	<tr>
        <th>Районы:</th>
        <td>{% comma_list bid.regions %}</td>
    </tr>
	<tr>
        <th>Населенные пункты:</th>
       	<td> {% comma_list bid.localities %}</td>
    </tr>
    <tr>
        <th>Гео группы:</th>
        <td>{% comma_list bid.geo_groups %}</td>
    </tr>
	<tr>
		<th>Цена:</th>
		<td>{% two_num bid.agency_price_min bid.agency_price_max %}</td>            
	</tr>
	{% history bid.history %}
	<tr>
		<th>Примечание:</th>
		<td>{{ bid.note }}</td>
	</tr>
</table>

</fieldset>
{% endblock %}


{% block right %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Подборки</legend>    
<div class="topbar button">
    <a title="Создать пустую подборку для ручного заполнения" href="{% url register_create bid.pk %}?{{ next_url }}&type=empty">Cоздать вручную</a>          
    <a title="Создать подборку согласно данной заявке" href="{% url register_create bid.pk %}?{{ next_url }}&type=based">Cоздать автоматически</a>
    <a class="btn-bind" title="Привязать уже созданную ранее подборку к этой заявке" href="{% url register_select bid.pk %}?{{ next_url }}">Добавить подборку</a>
</div>
{% include 'registers/register_table.html' %}
</fieldset>

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">История заявки</legend>    
<div class="topbar button">
    <a class="btn-add" title="Добавить новое событие" href="{% url bid_event_create bid.pk %}?{{ next_url }}">Добавить событие</a>          
</div>
{% include 'bid/bid_event_table.html' %}
</fieldset>

{% endblock %}