{% extends "base.html" %}
{% load link_helper %}
{% load query_string %}
{% load paginator %}
{% load humanize %}
{% load sorting_tags %}


{% block css %}
{{ bid_filter_form.media.css }}
{% endblock css %}

{% block js %}
{{ bid_filter_form.media.js }}
<script type="text/javascript">
	$(function() {
		$("#filter").dialog({
			modal : true,
			width : 420,
			title : 'Фильтр',
			autoOpen : false
		});
	}); 
</script>
{% endblock js %}

{% block page_header %}
Список заявок
{% endblock %}

{% block left %}

<div class="topbar button">
    <a title="Добавление новой заявки..." class="btn-add" href="{% url 'bid_create' %}?{{ next_url }}">Добавить</a>
    <button class="btn-filter-add" onclick="showFilter('#filter')">
        Показать фильтр
    </button>
    {% if filtered %}
    <a class="btn-filter-remove" href="{{ request.path }}?next={{ request.GET.next|urlencode }}">Сбросить фильтр</a>
    {% endif %}
    {% include 'prev_view.html' %}    
    {% if request.user.is_superuser %}
        <span style="padding: 5px; color: #ccc"> </span>
        <a class="btn-phone" href="{% url 'bid_list_contacts' 1 %}?{{ get_params }}">Экспорт телефонных номеров</a>
        <a class="btn-email" href="{% url 'bid_list_contacts' 2 %}?{{ get_params }}">Экспорт адресов электронной почты</a>
        <a class="btn-print" href="{% url 'bidreport' %}?{{ params_no_page }}">Реестр заявок</a>        
    {% endif %}
</div>
<div class="ui-widget ui-widget-content ui-corner-all user-info" style="display:inline-block; float: left; margin: 3px 0">
    Всего заявок: {{ bid_count }},
    отобрано: {{ filter_count }},
    на странице: {{ bid_list.count }}
</div>
<br style="clear: both"  />
<table class="base-table-list ui-widget ui-widget-content">
    <thead>
        <tr>
            <th style="white-space: nowrap">{% anchor id 'Код' %}</th>
            <th style="white-space: nowrap">{% anchor history__modificated 'Обновлено' %}</th>
            <th>Риэлтор</th>
            <th>Статус</th>
            <th>Вид недвижимости</th>            
            <th>Районы</th>
            <th>Населенные пункты</th>
            <th>Цена</th>
            <th>Заказчики</th>            
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for bid_item in bid_list %}
        <tr class="ui-widget-content">
            <td><a title="Редактирование заявки" href="{% url 'bid_update' bid_item.pk %}?{{ next_url }}">{{ bid_item.pk }}</a></td>
            <td style="white-space: nowrap">{{ bid_item.history.modificated|date:"d M Y" }} </td>
            <td>{% for broker in bid_item.brokers.all %}
            	{{ broker }}
            	{% endfor %}
        	</td>
        	<td>{% comma_list bid_item.bid_status %}</td>
            <td>
            	<a title="Просмотр заявки" href="{% url 'bid_detail' bid_item.pk %}?{{ next_url }}">
            	{{ bid_item.mixed_estate_types }}
            	</a>
            </td>            
            <td> {% comma_list bid_item.regions %} </td>
            <td> {% comma_list bid_item.localities %} </td>
            <td>{% two_num bid_item.agency_price_min bid_item.agency_price_max %}</td>
            <td>
                
                 
                {% for client in bid_item.clients.all %}
                    <a title="Просмотр карточки заказчика" href="{% url 'client_detail' client.pk %}?{{ next_url }}">{{ client.name }}</a>                           
                    <small>{% contact_list client next_url 1 %}</small>
                {% endfor %}
                
                                                
            </td>            
            <td><a class="btn-delete-inline" href="{% url 'bid_remove' bid_item.pk %}?{{ next_url }}">Удалить</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:6px">
    {% digg_paginator %}
</div>
{% endif %}

<!--  -->
<div class="button table-form" id='filter'>
    <form method="get">
        <table class="filter-table ui-widget ui-widget-content ui-corner-all" style="width:100%">
            <tr>
                <td class="top-align">
                <table>
                    {% for field in bid_filter_form.fieldsets.main %}
                    <tr>
                        <th> {{ field.label_tag }} </th>
                        <td> {{ field.errors }}{{ field }}
                        <div class="help-text">
                            {{ field.help_text }}
                        </div></td>
                    </tr>
                    {% endfor %}
                </table></td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan=3><a href="{{ request.path }}?next={{ request.GET.next|urlencode }}">Сбросить</a>
                    <input type="submit" value="Применить"/>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<!--  -->

{% endblock left %}