{% extends "base.html" %}
{% load link_helper %}
{% load query_string %}
{% load paginator %}
{% load humanize %}
{% block head %}

{{ bid_filter_form.media.css }}
{{ bid_filter_form.media.js }}

<script type="text/javascript">
    $(function() {
        $("#filter").dialog({
            modal : true,                       
            width : 420,
            title : 'Фильтр',
            //position : ['center', 170],
            autoOpen: false
        });                        
    }); 
</script>

{% endblock %}

{% block left %}

<div class="topbar button">
<input value="Показать фильтр" type="button" onclick="showFilter('#filter')">
<a href="{% url bid_create %}?{{ next_url }}">Добавить</a>
{% include 'prev_view.html' %}
</div>

<table class="base-table-list ui-widget ui-widget-content">
    <thead>     
        <tr>
            <th>Код</th>
            <th>Вид недвижимости</th>
            <th>Цена</th>
            <th>Населенные пункты</th>
            <th>Обновлено</th>
            <th>Клиент</th>
            <th>Контакты</th>           
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for bid_item in bid_list %}
        <tr class="ui-widget-content">
            <td><a href="{% url bid_update bid_item.pk %}?{{ next_url }}">{{ bid_item.pk }}</a></td>
            <td>
                {% for estate_type in bid_item.estate_types.all %}
                    <a href="{% url bid_detail bid_item.pk %}?{{ next_url }}">{{ estate_type }}</a>{% include 'comma.html' %}
                {% empty %}
                    <a href="{% url bid_detail bid_item.pk %}?{{ next_url }}">---------</a>    
                {% endfor %}                
            </td>
            <td>{% two_num bid_item.agency_price_min bid_item.agency_price_max %}</td>
            <td>
                {% for locality in bid_item.localities.all %}
                    {{ locality }}{% include 'comma.html' %}
                {% endfor %}
            </td>
            <td>{{ bid_item.history.modificated|date:"d M Y" }} </td>
            <td>{{ bid_item.client }}</td>
            <td>{% contact_list bid_item.client next_url 2 %}</td>          
            <td><a href="{% url bid_remove bid_item.pk %}?{{ next_url }}">Удалить</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:6px">
    {% digg_paginator %}
</div>
{% endif %}

<!--  -->
<div class="button table-form" id='filter'>
    <form method="get">        
        <table class="filter-table ui-widget ui-widget-content ui-corner-all" style="width:100%">
            <tr>
                <td class="top-align">
                    <table>                 
                        {{ bid_filter_form.as_table }}                      
                    </table>
                </td>                   
            </tr>                                          
            <tfoot>
                <tr>
                    <td colspan=3><a href="{{ request.path }}?next={{ request.GET.next|urlencode }}">Сбросить</a>
                    <input type="submit" value="Применить"/>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<!--  -->

{% endblock left %}