{% extends "base.html" %}
{% load i18n %}
{% load link_helper %}

{% block css %}
{{ bid_filter_form.media.css }}
{% endblock css %}
{% block js %}
{{ bid_filter_form.media.js }}
{% endblock js %}

{% block left %}
<form method="post" action="" class="table-form">
	{% csrf_token %}	
        <table class="filter-table ui-widget ui-widget-content ui-corner-all" style="width:100%">
        	<thead>
			<tr>
				<td colspan="100%">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
					{% csrf_token %}
					Заявка клиента [{{ bid.id|default:'Новая' }}]
					{% close_btn request.GET.next %}
				</div></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="100%">
					<table>
					{% history bid.history %}
					</table>
				</td>					
			</tr>	
			<tr>
				<td colspan="100%">
					<table>
					{{ form.as_table }}
					</table>
				</td>					
			</tr>	
            <tr>
                <td class="top-align">
                    <table class="inline-formset ui-widget ui-widget-content ui-corner-all">                 
                    {% for field in estate_filter_form.fieldsets.left %}
                        <tr>
                            <td>                    
                            {{ field.label_tag }}
                            </td>
                            <td>
                            {{ field.errors }}{{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </td>
                <td class="top-align">
                    <table class="inline-formset ui-widget ui-widget-content ui-corner-all">                 
                    {% for field in estate_filter_form.fieldsets.center %}
                        <tr>
                            <td>                    
                            {{ field.label_tag }}
                            </td>
                            <td>
                            {{ field.errors }}{{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>                
                </td>   
                <td class="top-align">
                    <table class="inline-formset ui-widget ui-widget-content ui-corner-all">                 
                    {% for field in estate_filter_form.fieldsets.right %}
                        <tr>
                            <td>                    
                            {{ field.label_tag }}
                            </td>
                            <td>
                            {{ field.errors }}{{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>                
                </td>   
            </tr>  
            </tbody>                                         
            <tfoot class="button">
			<tr>
				<td colspan="100%" style="text-align: right"> {% block dialog_buttons %}
				<input value="{% trans 'Save' %}" type="submit" name="_save"/>
				{% endblock dialog_buttons %} </td>
			</tr>
			</tfoot>
        </table>
    </form>

{% endblock left %}