{% extends "base.html" %}
{% load link_helper %}
{% load query_string %}
{% load paginator %}
{% load humanize %}
{% block head %}


<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<link href="{{ STATIC_URL }}selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>

<script type="text/javascript">
    $(function() {
        $(".selected").addClass('ui-state-highlight');
        $("#tabs").tabs({
            select: function(event, ui) {
                localStorage.setItem('estate_id', '{{ estate.id }}');               
                localStorage.setItem('saved_tab', ui.index);                
            }, 
            selected : getIndex('{{ estate.id }}','saved_tab')  
        });

        $("#filter").dialog({
            modal : true,                       
            width : 1150,
            title : 'Фильтр',
            //position : ['center', 170],
            autoOpen: false
        });                
        $("#bid-table").dataTable({
        'sPaginationType': 'full_numbers',
        "bServerSide": true,
        "sAjaxSource": "{% url bid_json_list %}",
        "aoColumns": [
            { "bSearchable": false},
            { "bSearchable": true}            
        ]
    });
                        
    }); 

function showFilter(){
    $('#filter').dialog('open');
}

</script>



{% endblock %}

{% block left %}

<input value="Показать фильтр" type="button" onclick="showFilter()">
<!--  -->
<div class="button table-form" id='filter'>
    <form method="get">        
        <table class="filter-table ui-widget ui-widget-content ui-corner-all" style="width:100%">
            <tr>
                <td class="top-align">
                    <table>                 
                    {% for field in fields|slice:":10" %}
                        <tr>
                            <td>                    
                            {{ field.label_tag }}
                            </td>
                            <td>
                            {{ field.errors }}{{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </td>
                <td class="top-align">
                    <table>                 
                    {% for field in fields|slice:"10:20" %}
                        <tr>
                            <td>                    
                            {{ field.label_tag }}
                            </td>
                            <td>
                            {{ field.errors }}{{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>                
                </td>   
                <td class="top-align">
                    <table>                 
                    {% for field in fields|slice:"20:" %}
                        <tr>
                            <td>                    
                            {{ field.label_tag }}
                            </td>
                            <td>
                            {{ field.errors }}{{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>                
                </td>   
            </tr>                                          
            <tfoot>
                <tr>
                    <td colspan=3><a href="{{ request.path }}?next={{ request.GET.next|urlencode }}">Сбросить</a>
                    <input type="submit" value="Применить"/>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<!--  -->

{% for bid_item in bid_list %}
<fieldset class="{% selected_css bid_item.pk bid.pk %} ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px">
    <legend>
        <a href="{% url bid_update bid_item.pk %}?{{ next_url }}">[{{ bid_item.pk }}]</a>
        
        <span class="ui-corner-all ui-widget-content" style="padding: 0 3px; font-size: 11px"> {{ bid_item.history.modificated|date:"d M Y" }} </span>
        {% if bid_item.agency_price_max or bid_item.agency_price_min %}
        <span class="ui-corner-all ui-widget-content" style="padding: 0 3px; font-size: 11px; margin: 0 0 0 2px">        	 
        	{{ bid_item.agency_price_min|default_if_none:'0'|intcomma }} - 
        	{{ bid_item.agency_price_max|default_if_none:'&#8734;'|intcomma }} р.        	 
        </span>
        {% endif %}
    </legend>
    <div style="border-bottom: 0px solid #ddd;">
    	<div style="clear: both">
            {% for estate_type in bid_item.estate_types.all %}
            <a href="{% url bid_update bid_item.pk %}?{{ next_url }}">{{ estate_type }}</a>{% include 'comma.html' %}
            {% endfor %}    
        </div>
        <table>
        	<tr>
        		<td><div style="font-size: 11px">{{ bid_item.client }}</div></td>
        		<td>{% contact_list bid_item.client next_url %}</td>
        	</tr>
        </table>	    	    
    </div>    
</fieldset>

{% endfor %}

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:6px">
    {% digg_paginator %}
</div>
{% endif %}

{% endblock left %}