{% extends "base.html" %}
{% load link_helper %}
{% load paginator %}
{% load query_string %}
{% load humanize %}

{% block topbar %}
<div class="topbar button">        
    {% include 'prev_view.html' %}
</div>
{% endblock %}

{% block page_header %}
	Подробная информация о заявке [{{ bid.id }}]
{% endblock %}

{% block left %}
<fieldset class="table-form ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Информация о заявке</legend>
<table>
	<tr>
		<th>Код:</th>
		<td style="font-weight: bold"><a href="{% url bid_update bid.pk %}?{{ next_url }}">{{ bid.pk }}</a></td>
	</tr>
	<tr>
		<th>Виды недвижимости:</th>
		<td>
                {% for estate_type in bid.estate_types.all %}
                    <a href="{% url bid_update bid.pk %}?{{ next_url }}">{{ estate_type }}</a>{% include 'comma.html' %}
                {% endfor %}
        </td>
	</tr>
	<tr>
		<th>Цена:</th>
		<td>{% two_num bid.agency_price_min bid.agency_price_max %}</td>            
	</tr>
	<tr>
		<th>Адрес:</th>
		<td>
                {% for locality in bid.localities.all %}
                    {{ locality }}{% include 'comma.html' %}
                {% endfor %}
            </td>
	</tr>
	{% history bid.history %}
	<tr>
		<th>Примечание:</th>
		<td>{{ bid.note }}</td>
	</tr>
</table>

</fieldset>
{% endblock %}



{% block right %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Подборки</legend>    

<div class="topbar button">
    <a href="{% url register_create bid.pk %}?{{ next_url }}&type=empty">Добавить пустую</a>          
    <a href="{% url register_create bid.pk %}?{{ next_url }}&type=based">Создать по заявке</a>
    <a href="{% url register_select bid.pk %}?{{ next_url }}">Подобрать</a>
</div>
{% include 'registers/register_table.html' %}
</fieldset>
{% endblock %}