{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block left %}
{% load query_string %}
{% load sorting_tags %}
<div id="client_list">
	<table class="base-table-list ui-widget ui-widget-content">
		<thead>
			<tr class="ui-dialog-titlebar ui-widget-header ui-corner-all dialog-title">
				<th>{% anchor id 'Код' %}</th>
				<th>{% anchor name 'Имя' %}</th>
				<th>{% anchor client_type 'Тип' %}</th>
				<th>Источник</th>
				<th>Место жительства</th>
				<th>Контакты</th>
				<th>
				<div  class="button">
					<a href="{% url client_create %}?{{ next_url }}">Добавить</a>
				</div></th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
			<tr>
				<td>{{ client.pk }}</td>
				<td><a href="{% url client_update client.pk %}?{{ next_url }}">{{ client.name }}</a></td>
				<td>{{ client.client_type }}</td>
				<td>{{ client.origin|default_if_none:"----" }}</td>
				<td>{{ client.address }}</td>
				<td> 
					<ul class="no-margin-list">
					{% for contact in client.contacts %}
					<li>					 
					<span class="contact-inline {{ contact.state_css }}" title="{{ contact.contact_state }} ({{ contact.updated }})">
						<label>{{ contact.contact_type }}:</label> 
						<a href="{% url contact_update contact.pk %}?{{ next_url }}">{{ contact.contact }}</a>
					</span>
					</li>					 
					{% endfor %}
					</ul> 
				</td>
				<td><a href="{% url client_delete client.pk %}?{{ next_url }}">Удалить</a></td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">
				<div style="overflow: hidden; padding: 5px" class="ui-widget ui-widget-content ui-corner-all">					
					<div  class="button" style="float: right">
					<a href="{% url client_create %}?{{ next_url }}">Добавить</a>
				</div>
					{% if is_paginated %}
					<div class="pagination" style="float: left; padding-top:6px">
						<span class="page-links"> {% if page_obj.has_previous %} <a href="{% url client_list %}{% query_string 'page=page_obj.previous_page_number' '' %}">Предыдущая</a> {% endif %} <span class="page-current"> Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}. </span> {% if page_obj.has_next %} <a href="{% url client_list %}{% query_string 'page=page_obj.next_page_number' '' %}">Сдедующая</a> {% endif %} </span>
					</div>
					{% endif %}
				</div></td>
			</tr>
		</tfoot>
	</table>
</div>

{% endblock %}
{% block right %}
<div class="button table-form">
	<form method="GET">
		<table class="ui-widget ui-widget-content ui-corner-all">
			<thead>
				<tr>
					<td colspan="2">
					<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
						Фильтр
					</div></td>
				</tr>
			</thead>
			{{ client_filter_form.as_table }}
			<tfoot>
				<tr>
					<td colspan=2>
					<a href="{% url client_list %}">Сбросить</a>	
					<input type="submit" value="Применить"/>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
{% endblock %}

