{% load i18n %}

{% if estate.electricity %}
<tr>
	<th>{% trans 'Electricity' %}:</th>
	<td> 		
		{{ estate.electricity }} 
	</td>	
	<td> 		
		{{ estate.electricity_distance|default_if_none:"" }} 
	</td>
</tr>
{% endif %}

{% if estate.watersupply %}
<tr>
	<th>{% trans 'Watersupply' %}:</th>
	<td> 		
		{{ estate.watersupply }} 
	</td>	
	<td> 		
		{{ estate.watersupply_distance|default_if_none:"" }} 
	</td>
</tr>
{% endif %}


{% if estate.gassupply %}
<tr>
	<th>{% trans 'Gassupply' %}:</th>
	<td>		
		{{ estate.gassupply }} 
	</td>	
	<td> 		
		{{ estate.gassupply_distance|default_if_none:"" }} 
	</td>
</tr>
{% endif %}

{% if estate.sewerage %}
<tr>
	<th>{% trans 'Sewerage' %}:</th>
	<td> 		
		{{ estate.sewerage }} 
	</td>	
	<td> 		
		{{ estate.sewerage_distance|default_if_none:"" }}
	</td>
</tr>
{% endif %}

{% if estate.telephony %}
<tr>
	<th>{% trans 'Telephony' %}:</th>
	<td colspan="2">		
		{{ estate.telephony|default_if_none:"" }} 
	</td>	
</tr>
{% endif %}

{% if estate.internet %}
<tr>
	<th>{% trans 'Internet' %}:</th>
	<td colspan="2">		
		{{ estate.internet|default_if_none:"" }} 
	</td>	
</tr>
{% endif %}

{% if estate.driveway %}
<tr>
	<th>{% trans 'Driveway' %}:</th>
	<td> 		
		{{ estate.driveway }} 
	</td>	
	<td> 		
		{{ estate.driveway_distance|default_if_none:"" }} 
	</td>
</tr>
{% endif %}