<tr>
	<th>{{ comm_form.electricity.label_tag }}:</th>
	<td> 		
		{{ comm_form.electricity.value }} 
	</td>	
	<td> 		
		{{ comm_form.electricity_distance.value }} 
	</td>
</tr>

<tr>
	<th>{{ comm_form.watersupply.label_tag }}:</th>
	<td> 		
		{{ comm_form.watersupply.value }} 
	</td>	
	<td> 		
		{{ comm_form.watersupply_distance.value }} 
	</td>
</tr>

<tr>
	<th>{{ comm_form.gassupply.label_tag }}:</th>
	<td>		
		{{ comm_form.gassupply.value }} 
	</td>	
	<td> 		
		{{ comm_form.gassupply_distance.value }} 
	</td>
</tr>

<tr>
	<th>{{ comm_form.sewerage.label_tag }}:</th>
	<td> 		
		{{ comm_form.sewerage.value }} 
	</td>	
	<td> 		
		{{ comm_form.sewerage_distance.value }} 
	</td>
</tr>

<tr>
	<th>{{ comm_form.telephony.label_tag }}:</th>
	<td colspan="100%">		
		{{ comm_form.telephony.value }} 
	</td>	
</tr>

<tr>
	<th>{{ comm_form.internet.label_tag }}:</th>
	<td colspan="100%">		
		{{ comm_form.internet.value }} 
	</td>	
</tr>

<tr>
	<th>{{ comm_form.driveway.label_tag }}:</th>
	<td> 		
		{{ comm_form.driveway.value }} 
	</td>	
	<td> 		
		{{ comm_form.driveway_distance.value }} 
	</td>
</tr>