{% extends "base.html" %}
{% block left %}
{% load link_helper %}
<form method="post" action="" class="table-form">
	<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
		<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
			{{ dialig_title }}
			{% close_btn request.GET.next %}
		</div>
		<div class="confirm-dialog-content">
			<p>
				{{ dialig_body }} {{ form }}
			</p>
			{% csrf_token %}
			<table class="button">
				<tr>
					<td valign="top">
					<input type="submit" value="OK" />
					</td>
					<td valign="top"><a href="{{ request.GET.next }}">Отмена</a></td>
				</tr>
			</table>
		</div>
	</div>
</form>
{% endblock %}