{% extends "base.html" %}
{% load i18n %}
{% load link_helper %}

{% block js %}
<script>
	$(function() {
		$(".table-grid tbody").find('#contact-list-{{ contact.pk }}').addClass('ui-state-highlight')
	});
</script>
{% endblock js %}

{% block left %}
<form action="" method="post" class="table-form">
	<table class="ui-widget ui-widget-content ui-corner-all">
		<thead>
			<tr>
				<td colspan="100%">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
					{{ contact }}
					{% close_btn request.GET.next %}
				</div></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="100%">
				<table>
					<tr>
						<th>Клиент:</th><td><a href="{% url client_update contact.client.pk %}?{{ next_url }}">{{ contact.client.name }}</a></td>
					</tr>
					<tr>
						<th>Вид:</th><td>{{ contact.client.client_type }}</td>
					</tr>					
				</table></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="100%">
				<table class="inline-formset ui-widget ui-widget-content ui-corner-all">
					{% csrf_token %}
					{{ form.as_table }}

					
					<tr>
						<td colspan="100%">
							<ul class="zebra-list">
							{% for item in contact.contacthistory_set.all %}						
								<li>{{ item.event_date }} {{ item.contact_state }} {{ item.user }}</li>
							{% endfor %}
							</ul>	
						</td>
					</tr>
					
				</table></td>
			</tr>
		</tbody>
		<tfoot class="button">
			<tr>
				<td colspan="100%">				
				<input value="{% trans 'Save' %}" type="submit" name="_save"/>
				</td>
			</tr>
		</tfoot>
	</table>
</form>
{% endblock %}

{% block right %}

<table class="ui-widget ui-widget-content ui-corner-all table-grid">
	<thead>
		<tr>
			<td>
			<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
				Контакты
			</div></td>
		</tr>
	</thead>
	<tbody>
		{% for item in contact.client.contacts.all %}
		<tr>
			<td id="contact-list-{{ item.pk }}"><a href="{% url contact_update item.pk %}?next={{ request.GET.next|urlencode }}">{{ item }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}