{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block left %}
{% load query_string %}

<table>
	<tr>
		<th>Клиент:</th><td>{{ contact.client.name }}</td>
	</tr>
	<tr>
		<th>Вид:</th><td>{{ contact.client.client_type }}</td>
	</tr>
	<tr class="contrast">
		<th>Контакт:</th><td>{{ contact }}</td>
	</tr>
</table>

<form action="" method="POST" class="button table-form">
	{{ form }}
	{% csrf_token %}
	{{ history_formset.management_form }}
	<table id="client-contacts" class="inline-formset ui-widget ui-widget-content ui-corner-all">
		{% for history in history_formset %}
		{{ history.id }}
		<tr>
			<td>{{ history.event_date.label_tag }}</td>
			<td>{{ history.event_date.errors }}{{ history.event_date }}</td>

			<td>{{ history.contact_state.label_tag }}</td>
			<td>{{ history.contact_state.errors }}{{ history.contact_state }}</td>

			<td>{% if history.instance.pk %}{{ history.DELETE }} {% endif %}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" />
</form>

{% endblock %}