{% extends "base.html" %}
{% load thumbnail %}

{% load paginator %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css">
<link href="{{ STATIC_URL }}selectable/css/dj.selectable.css" media="all" rel="stylesheet" />
{% block extra_css %}{% endblock extra_css %}
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/simple-dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
<script type="text/javascript">
    $(function() {
        $(".selected").addClass('ui-state-highlight');
        $("#filter").dialog({
            modal : true,                       
            width : 1150,
            title : 'Фильтр',            
            autoOpen: false
        });
                
    }); 

function showFilter(){
    $('#filter').dialog('open');
}
</script>
{% block extra_js %}{% endblock extra_js %}
{% endblock js %}

{% block page_header %}
Cписок лотов
{% endblock %}

{% block topbar %}
<div class="topbar button">
    <div class="ui-widget ui-widget-content ui-corner-all user-info" style="float: none; margin-bottom: 3px">
        Всего объектов: {{ total_count }},
        отобрано: {{ filter_count }},
        показано на странице: {{ estate_list.count }}
    </div>
    <a data-width="450" title="Добавление нового объекта..." href="{% url select_estate_type %}?{{ next_url }}" class="ajax-dialog">Добавить новый объект</a>
    <button onclick="showFilter()">
        Показать фильтр
    </button>
    {% include 'prev_view.html' %}
</div>
{% include 'estate_filter_form.html' %}
{% endblock topbar %}

{% block left %}

{% include 'estate_table.html' %}

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:6px">
    {% digg_paginator %}
</div>
{% endif %}
{% endblock left %}