{% extends "base.html" %}
{% load i18n %}
{% load link_helper %}
{% block head %}
{{ form.media.css }}
{{ form.media.js }}
<script type="text/javascript">
	function newParameters(query) {
		query.locality = $('#id_locality').val();
	}	
	$(document).ready(function() {
		$('#id_street_0').djselectable('option', 'prepareQuery', newParameters);					
	});	
	
</script>

{% endblock %}

{% block left %}
<form action="" method="post" class="table-form">
	<table class="ui-widget ui-widget-content ui-corner-all">
		<thead>
			<tr>
				<td colspan="100%">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
					{{ estate_type }}
					{% close_btn request.GET.next %}
				</div></td>
			</tr>
		</thead>
		{{ form.as_table }}{% csrf_token %}
		<tfoot class="button">
			<tr>
				<td colspan="100%">
				<input value="{% trans 'Save and continue editing' %}" type="submit" name="_continue"/>
				<input value="{% trans 'Save' %}" type="submit" name="_save"/>
				</td>
			</tr>
		</tfoot>
	</table>

</form>

{% endblock %}

