{% extends "estate_list.html" %}

{% block extra_button %}
{% if request.GET.r_filter == 'inregister' %}
<a class="btn-add-mode" href="{{ filter_action }}?next={{ request.GET.next|urlencode }}&r_filter=outregister">В режим добавления</a>
{% else %}
<a class="btn-view-mode" href="{{ filter_action }}?next={{ request.GET.next|urlencode }}&r_filter=inregister">В режим просмотра</a>
{% endif %}
{% endblock %}

{% block lastcol %}
<span class="bind {% if in_register %}hidden{% endif %} ui-corner-all">
<a class="btn-bind btn-bind-ajax" href="#" data-action="bind" data-url="{% url 'register_add_estate' selected estate.pk %}">Добавить лот [{{ estate.pk }}] в подборку [{{ selected }}]</a>
</span>

<span class="unbind {% if not in_register %}hidden{% endif %} ui-corner-all">
<a class="btn-unbind btn-unbind-ajax" href="#" data-action="unbind" data-url="{% url 'register_remove_estate' selected estate.pk %}">Отвязать лот [{{ estate.pk }}] от подборки [{{ selected }}]</a>

</span>
{% endblock lastcol %}

{% block navlink  %}
{% url 'estate_select_list' estate_item.pk selected %}
{% endblock navlink  %}