{% extends "base.html" %}
{% load link_helper %}

{% block left %}


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		<a href="">Основная информация по объекту</a>
		<span class="ui-icon ui-icon-pencil" style="float: left; margin-right: .3em;"> </span>
		
	</div>
	<div class="confirm-dialog-content">
		{% address estate %}
	</div>
</div>


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		<a title="Привязать клиентов" href="{% url client_select estate.pk %}?{{ next_url }}">Клиенты</a>
		<span class="ui-icon ui-icon-plus" style="float: left; margin-right: .3em;"> </span>
		
	</div>
	<div class="confirm-dialog-content">
		{% client_list estate next_url %}
	</div>
</div>


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		<a href="{% url estate_comm_update estate.pk %}?{{ next_url }}">Коммуникации</a>
		<span class="ui-icon ui-icon-pencil" style="float: left; margin-right: .3em;"> </span>		
	</div>
	<div class="confirm-dialog-content">
		{{ estate.electricity }} {{ estate.electricity_distance }}
	</div>
</div>

<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		<a href="">Дополнительно</a>
		<span class="ui-icon ui-icon-pencil" style="float: left; margin-right: .3em;"> </span>		
	</div>
	<div class="confirm-dialog-content">
		<a href="">WWW</a>
	</div>
</div>



{% endblock left %}
