{% extends "base.html" %}
{% load link_helper %}

{% block left %}


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		Основная информация по объекту
		<span class="ui-icon ui-icon-minus" style="float: left; margin-right: .3em;"> </span>
		<a href="">удалить</a>
	</div>
	<div class="confirm-dialog-content">
		{% address estate %}
	</div>
</div>


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		Клиенты
		<span class="ui-icon ui-icon-plus" style="float: left; margin-right: .3em;"> </span>
		<a href="{% url client_select estate.pk %}?{{ next_url }}">привязать</a>
	</div>
	<div class="confirm-dialog-content">
		{% client_list estate next_url %}
	</div>
</div>


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		Дополнительно
		<span class="ui-icon ui-icon-minus" style="float: left; margin-right: .3em;"> </span>
		<a href="">удалить</a>
	</div>
	<div class="confirm-dialog-content">
		<a href="">WWW</a>
	</div>
</div>

<a href="{% url estate_comm_update estate.pk %}?{{ next_url }}">Comm</a>

{% endblock left %}
