{% extends "base.html" %}
{% load i18n %}
{% load link_helper %}

{% block linkback %}
{% include 'back2estate.html' %}
{% endblock linkback %}

{% block left %}
<form action="" method="post" class="table-form">
	{% block general_info %}
	<table class="ui-widget ui-widget-content ui-corner-all">
		<thead>
			<tr>
				<td colspan="100%">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
					{% csrf_token %}
					{% block dialog_title %}

					{% endblock %}
					{% close_btn request.GET.next %}
				</div></td>
			</tr>
		</thead>
		{% block dialog_form %}

		{% endblock %}
		<tfoot class="button">
			<tr>
				<td colspan="100%"> {% block dialog_buttons %}
				<input value="{% trans 'Save' %}" type="submit" name="_save"/>
				{% endblock dialog_buttons %} </td>
			</tr>
		</tfoot>
	</table>
	{% endblock general_info %}

</form>

{% endblock left %}

{% block right %}

{% endblock right %}