{% extends "base.html" %}

{% load query_string %}
{% load link_helper %}
{% block head %}

<script type="text/javascript">
	$(document).ready(function() {

	}); 
</script>

{% endblock head %}

{% block left %}

Количество объектов {{ total_count }}

{% for estate in estate_list %}

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        <span class="ui-corner-all ui-widget-content ui-state-highlight" style="padding: 2px 5px;"> [<a href="{{ estate.detail_link  }}?{{ next_url }}">{{ estate.pk }}</a>]
            {{ estate.estate_type }}
            {% address estate %} </span>

    </legend>
    <div class="ui-corner-all ui-widget-content" style="float: right; position: relative; top: -25px; padding: 2px 5px;">
        {{ estate.estate_status }}{% if estate.correct %}, Корректно{% endif %}
    </div>
    <div style="float: left; width: 300px ">
        {% client_list estate next_url %} 
    </div>
    <div style="float: right; width: 300px">
    	{% with bidg=estate.basic_bidg %}
    	{% if bidg  %}
    	<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
        <legend>        
            {% get_label bidg 'total_area' %}: {{ bidg.total_area }}          
        </legend>    	
        
        
        {% get_label bidg 'year_built' %}: {{ bidg.year_built }}
        {% get_label bidg 'floor_count' %}: {{ bidg.floor_count }}
        
        
        этажность 	площадь, м2 	комнаты 	состояние 	лифт 	цена, руб        
        </fieldset>
        {% endif %}
        {% endwith %}
    </div>
</fieldset>

{% endfor %}

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:6px">
	<span class="page-links">
	<a href="{{ request.path }}{% query_string 'page=1' '' %}">Первая</a>
     {% if page_obj.has_previous %} <a href="{{ request.path }}{% query_string 'page=page_obj.previous_page_number' '' %}">Предыдущая</a> {% endif %} <span class="page-current"> Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}. </span> {% if page_obj.has_next %} <a href="{{ request.path }}{% query_string 'page=page_obj.next_page_number' '' %}">Сдедующая</a> {% endif %}
     <a href="{{ request.path }}{% query_string 'page=page_obj.paginator.num_pages' '' %}">Последняя</a>
    </span>  
</div>

{% endif %}



{% endblock left %}