{% extends "base.html" %}
{% load i18n %}
{% load link_helper %}
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/ajax_dialog.js"> </script>
{{ form.media.css }}
{{ form.media.js }}
<script type="text/javascript">
	function localityParam(query) {
		query.locality = $('#id_locality_1').val();
	}
	function regionParam(query) {
		query.region = $('#id_region').val();
	}
		
	$(document).ready(function() {
		$('#id_street_0').djselectable('option', 'prepareQuery', localityParam);
		$('#id_locality_0').djselectable('option', 'prepareQuery', regionParam);
		$('#id_microdistrict_0').djselectable('option', 'prepareQuery', localityParam);
	});
</script>

{% endblock %}

{% block left %}

<form action="" method="post" class="table-form">
	{% block general_info %}
	<table class="ui-widget ui-widget-content ui-corner-all">
		<thead>
			<tr>
				<td colspan="100%">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
					{% block dialog_title %}
					Объект недвижимости [{{ estate.id|default:"Новый" }}]
					{% endblock %}
					{% close_btn request.GET.next %}
				</div></td>
			</tr>
		</thead>
		{{ form.as_table }}{% csrf_token %}
		<tfoot class="button">
			<tr>
				<td colspan="100%">				
				<input value="{% trans 'Save' %}" type="submit" name="_save"/>
				</td>
			</tr>
		</tfoot>
	</table>
	{% endblock %}

	{% block contacts %}
	{% endblock %}

</form>

{% endblock %}

