{% extends "base.html" %}
{% load link_helper %}
{% load humanize %}

{% block left %}


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">		
		<a href="{% url estate_update estate.pk %}?{{ next_url }}">Основная информация</a>	
		<span class="ui-icon ui-icon-pencil" style="float: left; margin-right: .3em;"> </span>
		<span class="ui-state-highlight ui-corner-all" style="float: right; padding: 0 4px;">{{ estate.estate_status }}</span>		
	</div>
	<div class="confirm-dialog-content">	
		
		<div class="ui-state-highlight ui-corner-all descr">
			<strong>{{ estate.estate_type }} [{{ estate.pk }}]</strong>
		</div>
		
		<div title="Адрес" class="ui-widget-content descr">
			{% address estate %}
			{% if estate.beside %}
			<div>
				Рассояние до <strong>{{ estate.beside }} {{ estate.beside_distance }}</strong> м 
			</div>	
			{% endif %}
		</div>
		
		<table class="detail-table">			
			
			<tr>
				<th>Источник:</th>
			 	<td colspan="100%">{{ estate.origin }}</td>
		 	</tr>
		 	
		 	<tr>
				<th>Добавил:</th>
			 	<td colspan="100%">{{ estate.history.created_by }}<br />{{ estate.history.created }}</td>
		 	</tr>
		 	<tr>
				<th>Обновил:</th>
			 	<td colspan="100%">{{ estate.history.updated_by }}<br />{{ estate.history.updated }}</td>
		 	</tr>		 			 			 		 
		</table>
		<div style="margin-top: 3px">
		<table class="detail-table all-borders" style="font-size: 14px">
			<tr>
				<th colspan="2">Цена</th>
				<th rowspan="2" valign="top">Маржа</th>
			</tr>
			<tr>
				<th>Продавца</th>
				<th>Агенства</th>
			</tr>
			<tr>
				<td>{{ estate.saler_price|intcomma }}</td>
				<td>{{ estate.agency_price|intcomma }}</td>
				<td class="ui-state-highlight">{{ margin }}</td>
			</tr>
		</table>
		</div>
	</div>
</div>


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		<a title="Привязать продавцов" href="{% url client_select estate.pk %}?{{ next_url }}">Продавцы</a>
		<span class="ui-icon ui-icon-plus" style="float: left; margin-right: .3em;"> </span>
		<span class="ui-state-highlight ui-corner-all" style="float: right; padding: 0 4px;">{{ estate.clients.count }}</span>
		
	</div>
	<div class="confirm-dialog-content">
		{% client_list estate next_url %}
	</div>
</div>


<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		<a href="{% url estate_comm_update estate.pk %}?{{ next_url }}">Коммуникации</a>
		<span class="ui-icon ui-icon-pencil" style="float: left; margin-right: .3em;"> </span>		
	</div>
	<div class="confirm-dialog-content">
		<table class="detail-table">		
		{% include "comm_form.html" %}
		</table>
		
	</div>
</div>

<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">
		<a href="{% url estate_docs_update estate.pk %}?{{ next_url }}">Документы</a>
		<span class="ui-icon ui-icon-pencil" style="float: left; margin-right: .3em;"> </span>		
	</div>
	<div class="confirm-dialog-content">
		<table class="detail-table">		
		 {% for doc in estate.documents.all %}		 	
		 	<tr><td>{{ doc.name }}</td></tr>		 	 
		 {% endfor %}
		</table>
		
	</div>
</div>

<div class="ui-widget ui-widget-content ui-corner-all confirm-dialog">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix confirm-dialog-title">		
		<a href="{% url estate_params_update estate.pk %}?{{ next_url }}">Дополнительно</a>
		<span class="ui-icon ui-icon-pencil" style="float: left; margin-right: .3em;"> </span>		
	</div>
	<div class="confirm-dialog-content">
		<table class="detail-table">		
		 {% for param in estate.estate_params.all %}		 	
		 	<tr><td>{{ param.name }}</td></tr>		 	 
		 {% endfor %}		 
		</table>
		
		<div title="Описание" class="ui-widget-content descr">{{ estate.description }}</div>
		<div title="Комментарий" class="ui-widget-content descr">{{ estate.comment }}</div>
	</div>
</div>



{% endblock left %}
