{% extends "base.html" %}
{% load i18n %}
{% load link_helper %}
{% block css %}
{{ form.media.css }}
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/ajax_dialog.js"> </script>
{{ form.media.js }}
<script type="text/javascript">
	function localityParam(query) {
		query.locality = $('#id_locality_1').val();		
	}
	function regionParam(query) {
		query.region = $('#id_region_1').val();		
	}
	
	function categoryParam(query) {
        query.category = $('#id_estate_category_filter_1').val();     
    }
		
	$(document).ready(function() {
		$('#id_street_0').djselectable('option', 'prepareQuery', localityParam);
		$('#id_locality_0').djselectable('option', 'prepareQuery', regionParam);
		$('#id_microdistrict_0').djselectable('option', 'prepareQuery', localityParam);
		$('#id_estate_type_0').djselectable('option', 'prepareQuery', categoryParam);	});
	
</script>
{% endblock js %}

{% block linkback %}
{% include 'back2estate.html' %}
{% endblock linkback %}

{% block left %}
<form action="" method="post" class="table-form">
	{% block general_info %}
	<table class="ui-widget ui-widget-content ui-corner-all" style="width:360px">
		<thead>
			<tr>
				<td colspan="100%">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
					{% block dialog_title %}
					Объект недвижимости [{{ estate.id|default:"Новый" }}]
					{% endblock %}
					{% close_btn request.GET.next %}
				</div></td>
			</tr>
		</thead>
		{{ form.as_table }}{% csrf_token %}
		<tfoot class="button">
			<tr>
				<td colspan="100%">				
				<input value="{% trans 'Save' %}" type="submit" name="_save"/>
				</td>
			</tr>
		</tfoot>
	</table>
	{% endblock %}

	{% block contacts %}
	{% endblock %}

</form>

{% endblock %}

