<div class="topbar button">
<div class="ui-widget ui-widget-content ui-corner-all user-info" style="float: none; margin-bottom: 3px">   
Всего объектов: {{ total_count }}, 
отобрано: {{ filter_count }}, 
показано на странице: {{ estate_list.count }} 
</div>
<a data-width="450" title="Добавление нового объекта..." href="{% url select_estate_type %}?{{ next_url }}" class="ajax-dialog">Добавить новый объект</a>
<button onclick="showFilter()">Показать фильтр</button>
{% include 'prev_view.html' %}        
</div>