{% load humanize %}
{% load link_helper %}
{% load sorting_tags %}
<table class="base-table-list ui-widget ui-widget-content">
    <thead>     
        <tr>
            <th> </th>
            <th>{% anchor id 'Код' %}</th>
            <th>{% anchor estate_type__name 'Вид' %}</th>
            <th>Адрес</th>
            <th>{% anchor agency_price 'Цена' %}</th>            
            <th>Контакт</th>
            <th>{% anchor history__modificated 'Обновлено' %}</th>            
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
    {% for estate_item in estate_list %}
    <tr class="ui-widget-content">
        <td>
            {% if estate_item.correct %} <span title="Корректно" style="display: inline-block" class="ui-icon ui-icon-check"> </span> {% endif %}
        </td>   
        <td>            
            <a href="{% url estate_update estate_item.pk %}?{{ next_url }}">[{{ estate_item.pk }}]</a>
        </td>
        <td><a href="{% url estate_list_details estate_item.pk %}?{{ next_url }}&estates_1={{ estate_item.pk }}"> {{ estate_item.estate_type }} </a></td>
        <td>
        <span class="inline-span">
            <small>
            {% with estate_item=estate_item %}
            {% address estate_item %}
            {% endwith %}
            </small>
        </span></td>
        
        <td> {{ estate_item.agency_price|default_if_none:''|intcomma }}</td>
           

        <td> {% with contact=estate_item.basic_contact  %}
        {% if contact %}
        <span class="inline-span ui-corner-all ui-widget-content">
        <small>{{ contact.client.client_type }}</small>         
         <a href="{% url client_update contact.client.pk %}?{{ next_url }}">{{ contact.client.name }}</a>
         </span>
         <span  class="inline-span contact-inline {{ contact.state_css }}" title="{{ contact.contact_state }} ({{ contact.updated }})"> <a href="{% url contact_update contact.pk %}?{{ next_url }}">{{ contact.contact }}</a></span> {% endif %}
        {% endwith %} </td>
        <td><span title="{{ estate_item.estate_status }}" class="inline-span ui-corner-all ui-widget-content {{ estate_item.state_css }}"> {{ estate_item.history.modificated|date:"d M Y" }} </span></td>
        <td>{% block lastcol %}<a href="{% url estate_delete estate_item.pk %}?{{ next_url }}">Удалить</a>{% endblock lastcol %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>