{% load link_helper %}
{% load query_string %}
{% load l10n %}

{% localize off %}
<div class="ui-widget ui-widget-content ui-corner-all" style="padding: 4px; margin: 3px 0">
<form class="button" method="post" action="{% url upload_files %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input required type="file" name="form_file" id="form_file" multiple="multiple"/>
    <input type="hidden" name="next" id="next_after" value="{{ request.get_full_path }}"/>
    <input type="hidden" name="model_key" id="model_key_pk" value="{{ model_key }}"/>
    <input type="hidden" name="object_pk" id="object_pk" value="{{ content_object.pk }}"/>
    <button type="submit">
        Загрузить
    </button>
</form>
</div>
{% endlocalize %}