{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block css %}
<link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
{% endblock css %}

{% block js %}
<script src="{{ STATIC_URL }}js/lightbox.js"> </script>
<style>
	.thumb {
		float: left;
		padding: 4px;
		text-align: center;
		margin: 3px;		
	}
	.thumb img {
		border: 4px solid white;
	}
</style>
{% endblock js %}

{% block linkback %}
<div class="topbar button">        
    {% include 'prev_view.html' %}
    <a class="btn-add-mode" href="{% url generic_link_create  %}">Добавить ссылку</a>
</div>
{% endblock linkback %}

{% block left %}

<div style="padding: 4px 1px 0px 1px; margin: 0; overflow: hidden">
    {% for link in content_object.links.all %}

    <h1>H1</h1>

    {% endfor %}
</div>

{% endblock %}

