{% extends "base.html" %}

{% load link_helper %}
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/ajax_dialog.js"> </script>

<script type="text/javascript">
$(document).ready(function() {
	$("#estate_nav").accordion({
		autoHeight : false,
		active: 0
	});		
});
</script>

{% endblock %}

{% block left %}

<div id="estate_nav">
	{% for estate_category in estate_categories %}
	<h3><a href="#">{{ estate_category.name }}</a></h3>
	<div>
		<ul>
			{% for estate_type in estate_category.estatetype_set.all %}
			<li>
				<table>
					<td><a href="#">{{ estate_type.name }} </a></td><td>
					<div>
						<a class="inline-button icon-plus" href="{% reverse_link estate_type.reverse_link estate_type.pk  %}?{{ next_url }}">Add</a>
					</div></td>
				</table>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
{% endblock %}