{% extends "base.html" %}

{% block head %}

<style>
	.ui-selecting {
		background: #FECA40 !important;
	}
	.ui-selected {
		background: #F39814 !important;
		color: white;
	}

</style>

<script type="text/javascript">
	$(function() {
		$('a.ajax').parent().addClass('ui-state-default ui-corner-all');
		$('a.ajax').addClass('ui-icon ui-icon-plus');
		$('a.ajax').live('click', function() {
			var url = this.href;
			var dialog = $("#dialog");
			if($("#dialog").length == 0) {
				dialog = $('<div id="dialog" style="display:hidden"></div>').appendTo('body');
			}
			// load remote content
			dialog.load(url, function(responseText, textStatus, XMLHttpRequest) {
				dialog.dialog({
					modal : true,
					buttons : {
						OK : function() {
							$.post(url, $('#dialog form').serialize(), function(data) {
								if(data.result != 'success') {
									$('#dialog form').html(data.form);
									// Re-bind selectables
									bindSelectables();
									// Re-bind extra parametrs
									bindParam();
								} else {
									dialog.dialog("close");
								}
							}, 'json')

						},
						Cancel : function() {
							dialog.dialog("close");
						}
					}

				});
			});
			//prevent the browser to follow the link
			return false;
		});
	});
</script>

{% endblock %}

{% block left %}

<div id="estate_nav">
	{% for estate_category in estate_categories %}
	<h3><a href="#">{{ estate_category.name }}</a></h3>
	<div>
		<ul>
			{% for estate_type in estate_category.estatetype_set.all %}
			<li>
				<table>
					<td><a href="#">{{ estate_type.name }} </a></td><td><div><a class="ajax" href="{% url estate_create estate_type.pk %}"></a></div></td>
				</table>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
{% endblock %}