{% extends "base.html" %}
{% load i18n %}
{% load link_helper %}
{% block head %}
<style>
 #level-layouts tbody td {
 	border-bottom: 1px solid #DDDDDD;
 }

#level-layouts td{
    padding: 2px 0 2px 8px;
}

#level-layouts { 
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
}

.layout-area input{
	width: 50px;
}
</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"> </script>
<script type="text/javascript">
    $(function() {
        $('#level-layouts tbody tr').formset({
            prefix : '{{ layout_formset.prefix }}',
            addText : 'Добавить элемент планировки',
            deleteText : 'Удалить'
        });
    })
    
    $(function() {
        $(".table-grid tbody").find('.level-list-{{ object.id }}').addClass('ui-state-highlight')
    });
    
</script>
{% endblock %}

{% block linkback %}
{% include 'back2estate.html' with estate=bidg.estate %}
{% endblock linkback %}

{% block left %}

<form action="" method="post" class="table-form">
    <table class="ui-widget ui-widget-content ui-corner-all">
        <thead>
            <tr>
                <td colspan="100%">
                <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
                    Планировка объекта [{{ bidg.estate.pk }}].
                    {% if object.pk %}
                    Уровень {{ object.level_name }}
                    {% else %}
                    Новый уровень
                    {% endif %}
                    {% close_btn request.GET.next %}
                </div></td>
            </tr>
        </thead>  
        <tr>
        	<td colspan="100%">
		        <table>      
		          {{ form.as_table }}{% csrf_token %}
		        </table>
		    </td>                
        </tr>        
        <tr>
            <td colspan="100%"> {{ layout_formset.management_form }}
            <table id="level-layouts" class="inline-formset ui-widget ui-widget-content ui-corner-all">
                <thead class="ui-state-highlight">
                <tr>
                	<th>{% trans 'LayoutType' %}</th>
                    <th>{% trans 'Area' %}</th>
                    <th>{% trans 'Furniture' %}</th>
                    <th>{% trans 'LayoutFeature' %}</th>
                    <th>{% trans 'Note' %}</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for layout in layout_formset %}
                {{ layout.id }}                
                <tr>                    
                    <td>{{ layout.layout_type.errors }}{{ layout.layout_type }}</td>                    
                    <td class="layout-area">{{ layout.area.errors }}{{ layout.area }}</td>                    
                    <td>{{ layout.furniture.errors }}{{ layout.furniture }}</td>                    
                    <td>{{ layout.layout_feature.errors }}{{ layout.layout_feature }}</td>                    
                    <td>{{ layout.note.errors }}{{ layout.note }}</td>                                        
                    <td>{% if layout.instance.pk %}{{ layout.DELETE }} {% endif %}</td>                
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="100%">{{ layout.non_field_errors }}</td>
                </tr>
                </tfoot>
                
                
            </table></td>
        </tr>
        <tfoot class="button">
            <tr>
                <td colspan="100%">
                <input value="{% trans 'Save and continue editing' %}" type="submit" name="_continue"/>
                <input value="{% trans 'Save' %}" type="submit" name="_save"/>
                </td>
            </tr>
        </tfoot>
    </table>

</form>

{% endblock %}
{% block right %}
    <table class="ui-widget ui-widget-content ui-corner-all table-grid">
    <thead>
        <tr>
            <td colspan="2">
            <div style="min-width: 170px" class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix dialog-title">
               <span class="ui-icon ui-icon-plus" style="float: left; margin-right: .3em;"> </span> 
               <a href="{% url level_create bidg.id %}?next={{ request.GET.next }}">Новый уровнь</a> 
            </div></td>
        </tr>
    </thead>
    <tbody>
        
        {% for level in bidg.levels.all %}
        <tr>
            <td class="level-list-{{ level.pk }}">
            	<a href="{% url level_update level.pk %}?next={{ request.GET.next }}">{{ level }}</a> 
            </td>
            <td class="level-list-{{ level.pk }}">
            	<a href="{% url level_delete level.pk %}?next={{ request.GET.next }}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock right %}