{% load sorting_tags %}
<table class="base-table-list ui-widget ui-widget-content">
    <thead>     
        <tr>
            <th>{% anchor id 'Код' %}</th>
            <th>{% anchor name 'Название' %}</th>                       
            <th>{% anchor history__modificated 'Обновлено' %}</th>
            <th>Риэлтор</th>
            <th>Заявки</th>           
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for register_item in register_list %}
        <tr class="ui-widget-content">          
            <td><a title="Правка подборки" href="{% url register_update register_item.pk %}?{{ next_url }}">{{ register_item.pk }}</a></td>
            <td><a title="Состав и детали подборки" href="{% url register_detail register_item.pk %}?{{ next_url }}">{{ register_item.name }}</a></td>
            <td>{{ register_item.history.modificated|date:"d M Y" }}</td>
            <td>{{ register_item.broker }} </td>
            <td>            	
                {% for bid_item in register_item.bids.all %}
                {% if bid.pk != bid_item.pk %}                
                    <a href="{% url bid_detail bid_item.pk %}?{{ next_url }}">{{ bid_item }}</a>{% include 'comma.html' %}
                {% else %}
                    {{ bid_item }}
                {% endif %}    
                {% endfor %}
            </td>                      
            <td>
            	{% block lastcol %}<a href="{% url register_delete register_item.pk %}?{{ next_url }}">Удалить</a>{% endblock lastcol %}
            	{% if bid.pk  %}
            	<a href="{% url register_remove_bid register_item.pk bid.pk %}?{{ next_url }}">Отвязать</a>
            	{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>