{% extends "dialog_block.html" %}
{% load i18n %}
{% load link_helper %}
{% block title_left %}
<a href="{% url apartment_update bidg.pk %}?{{ next_url }}">Детали и оттелка</a>
{% endblock %}
{% block content %}

<table class="detail-table">
    {% for field_name in bidg.field_list %}    
    {% table_row bidg field_name template %}
    {% endfor %}
</table>

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Документы
    </legend>
    <span class="descr"> {% for doc in bidg.documents.all %} <span class="item"> {{ doc.name }}{% include "comma.html" %} </span> {% endfor %} </span>
</fieldset>

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Внешняя отделка
    </legend>
    <table class="detail-table">
        {% for field_name in bidg.interior_list %}
        {% table_row bidg field_name template %}
        {% endfor %}
    </table>
</fieldset>

{% endblock %}

{% block title_right %}
{% if bidg.room_count %}
{{ bidg.room_count }}-комнатная
{% endif %}
{% if bidg.total_area %}
{{ bidg.total_area }} <small>м<sup>2</sup></small>
{% endif %}
{% endblock %}