{% extends "dialog_block.html" %}
{% load report %}
{% block title_left %}
<a href="{% url apartment_update bidg.pk %}?{{ next_url }}">Описание и отделка</a>
{% endblock %}
{% block content %}

<table class="detail-table">
    {% wrapper_fieldset_tr bidg 'exterior_report_set' %}
</table>

{% if bidg.estate_type.estate_type_category.independent %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Документы
    </legend>
    <span class="descr"> {% for doc in bidg.documents.all %} <span class="item"> {{ doc.name }}{% include "comma.html" %} </span> {% endfor %} </span>
</fieldset>
{% endif %}

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Внутреняя отделка
    </legend>
    <table class="detail-table">
        {% wrapper_fieldset_tr bidg 'interior_set' %}
    </table>
</fieldset>

{% endblock %}

{% block title_right %}
{% if bidg.room_count %}
{{ bidg.room_count }}-комнатная
{% endif %}
{% if bidg.total_area %}
{{ bidg.total_area }} <small>м<sup>2</sup></small>
{% endif %}
{% endblock %}