{% extends "dialog_block.html" %}
{% block title_left %}

<a href="{% url level_create bidg.id %}?{{ next_url }}">Планировка</a>
{% endblock %}

{% block content %}
<table class="detail-table">
	{% for level in bidg.levels.all %}
	<tr>
		<td nowrap><span class="item"><a href="{% url level_update level.pk %}?{{ next_url }}">{{ level }}</a></span></td>
		<td> {% for layout in level.layout_set.all %}
		<div class="layout-details">
			<span><strong>{{ layout.layout_type }}: </strong></span>
			{% if  layout.area %}
			<span>{{ layout.area }} м<sup>2</sup></span>
			{% endif %}
			{% if  layout.furniture %}
			<span>{{ layout.furniture }}</span>
			{% endif %}
			{% if  layout.layout_feature %}
			<span>{{ layout.layout_feature }}</span>
			{% endif %}
			{% if  layout.note %}			
			<span><small>{{ layout.note }}</small></span>
			{% endif %}
		</div> {% endfor %} </td>
	</tr>
	{% endfor %}
</table>
{% endblock content %}

{% block title_right %}
{% with area=bidg.layout_area %}
{% if area %}
{{ area }} м<sup>2</sup>
{% endif %}
{% endwith %}
{% endblock %}