{% extends "dialog_block.html" %}
{% block title_left %}

<a href="{% url level_create bidg.id %}?{{ next_url }}">Планировка</a>
{% endblock %}

{% block content %}
<table class="detail-table">
    {% for level in bidg.levels.all %}
    <tr>
        <td><span class="item"><a href="{% url level_update level.pk %}?{{ next_url }}">{{ level }}</a></span></td>
        <td> {% for layout in level.layout_set.all %}
        <div>
            <span>{{ layout.layout_type }}</span>
            {% if  layout.area %}
            <span>{{ layout.area|default_if_none:"" }} м<sup>2</sup></span>
            {% endif %}
            {% if  layout.furniture %}
            <span>{{ layout.furniture|default_if_none:"" }}</span>
            {% endif %}
            <span>{{ layout.layout_feature|default_if_none:"" }}</span>
            <span><small>{{ layout.note|default_if_none:"" }}</small></span>
        </div> {% endfor %} </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}