{% extends "dialog_block.html" %}
{% load report %}
{% block title_left %}Планировка{% endblock %}

{% block content %}

{% for level in bidg.levels.all %}
<fieldset class="ui-widget ui-widget-content ui-corner-all">
	<legend>
		<span class="item"><a href="{% url level_update level.pk %}?{{ next_url }}">{{ level }}</a></span>
	</legend>
	{% bidg_layout level %}	
</fieldset>
{% endfor %}

<div class="button" style="text-align: right">
<a href="{% url level_create bidg.id %}?{{ next_url }}">Добавить планировку</a>
</div>
{% endblock content %}

{% block title_right %}
{% with area=bidg.layout_area %}
{% if area %}
{{ area }} м<sup>2</sup>
{% endif %}
{% endwith %}
{% endblock %}