{% extends "domanayuge/projects.html" %}
{% load category_tags %}  
{% load static %}
{% load markup %}
{% load thumbnail %}

{% block page_title %}{{ project.title }}{% endblock %}

{% block content %}

<section id="project">
	<div class="container">

		<div class = "page-header">            
			<h1>{{ project.title }}</h1>						
		</div>
	<p>
		{% with entry_content=project.summary|markdown:"safe,attr_list,tables" %}
        	{{ entry_content|parser:domain }}
        {% endwith %}		
	</p>
	<p>		
		{{ project.content|safe }}
	</p>			
	
	<ol class="breadcrumb">
		<li><a href="{% url 'projects' category.key %}">{{ category.name }}</a></li>	 	  
	    <li class="active">{{ project.title }}</li>
	</ol>
	
			
	</div>
</section>

{% endblock content %}