{% extends "domanayuge/base.html" %}
{% load mptt_tags %}
{% load category_tags %}  
{% load static %}
{% load markup %}
{% load thumbnail %}
{% load paginator %}
{% load hosts %}

<!-- Navigation -->
    {% block navigation %}
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Переключение навигации</span> Меню <i class="fa fa-bars"></i>
                </button>
                <div class="wrap-logo">
                    <a class="page-scroll" href="/#page-top">
                        <img class="navbar-brand-logo" src="https://projects.domanayuge.ru/upload/medialibrary/55a/55afddce192433ef40d253859edf1d20.svg" style="height: 50px;">
                    </a>
                    <a href="tel:8(918)2954848" class="navbar-phone">
                        <i class="fa fa-phone navbar-phone-icon" aria-hidden="true"></i>
                        8 (918) 295-48-48
                    </a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>                   
                    {% recursetree categiries %}                    
                    	<li>                    	
                        	<a class="page-scroll" href="/#{{ node.slug }}">{{ node.name }}</a>
                    	</li>                  
				    {% endrecursetree %}                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% endblock navigation %}
    

{% block content %}

    <section id="projects" class="section-content">
        <div class="container">
			
			<div class = "page-header">            
				<h1>{{ category.name }}</h1>
			</div>

            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/#{{ category.parent.slug }}">
                        <span itemprop="name">Главная</span>
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="active"  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <span itemprop="name">{{ category.name }}</span>
                    <meta itemprop="position" content="2">
                </li>
            </ol>

			 <div class="row">
			{% for project in object_list %}				
			    <div class="col-md-4 col-sm-6 portfolio-item">			    
                    <a href="{% url 'project' category.key project.slug %}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-hand-pointer-o fa-3x"></i>
                            </div>
                        </div>
                        {% thumbnail project.baseimage.image "360x260" crop="center" as im %}
                        <img alt="{{ project.baseimage.title }}" class="img-responsive" src="{{ im.url }}">
                        {% endthumbnail %}
                    </a>
                    <div class="portfolio-caption">
                        <h4>
                            <a href="{% url 'project' category.key project.slug %}" class="portfolio-link" data-toggle="modal" style="color: #333">
                                {{ project.title }}
                            </a>
                        </h4>
                        <div class="text-muted">{{ project.summary|parser:domain }}</div>
                    </div>
                </div>
            	{% if forloop.counter|divisibleby:3 %}
	            <div class="clearfix"></div> 
	        	{% endif %}
			{% empty %}
			    <li>No projects yet.</li>			 
			{% endfor %}			
			</div>            
			         
			{% if is_paginated %}
			<nav aria-label="Page navigation">
			    {% bootstrap_paginator %}
			</nav>
			{% endif %}

            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/#{{ category.parent.slug }}">
                        <span itemprop="name">Главная</span>
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="active"  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <span itemprop="name">{{ category.name }}</span>
                    <meta itemprop="position" content="2">
                </li>
            </ol>

        </div>
    </section>

{% endblock content %}