realestate/local_settings.py
*.pyc
realestate/local_settings.py
*~
.directoryrealestate/media
realestate/media
sql
sql/estate_agent1_04122012.sql
realestate/logfile
spyder/realty/realty/local_settings.py
realestate/static/
