{% extends "dialog_block.html" %}
{% load humanize %}
{% load i18n %}
{% load link_helper %}
{% block title_left %}
<a href="{% url 'estate_update' estate.pk %}?{{ next_url }}">Основная информация</a>
{% endblock %}
{% block content %}

<div class="ui-state-highlight ui-corner-all descr">
	<strong title="{{ estate.estate_type }}">{{ estate.estate_type|truncatechars:33 }}</strong>
	<span style="float: right; padding: 0 4px" class="ui-widget-content ui-corner-all {{ estate.state_css }}">
        <strong>{{ estate.estate_status }}</strong>
    </span>
</div>

<div title="Адрес" class="ui-widget-content descr">
	{% address estate %}		
</div>

<table class="detail-table">
	<tr>
		<th>Источник:</th>
		<td colspan="100%">{{ estate.origin|default:'--------' }}</td>
	</tr>
	{% history estate.history %}
	<tr>
		<th title="Дата последнего контакта с заказчиком или дата обновления лота, если контакта не было">Контакт:</th>
		<td colspan="100%">
		{{ estate.actualized|default:'--------' }}
		</td>
	</tr>
	<tr><th class="greybgtext" title="Риэлтор" style="white-space: nowrap">Риэлтор:</th> <td class="redbgtext">{{ estate.broker|default:'--------' }}</td></tr>
	{% if estate.com_status.status %}
    <tr><th title="Коммерческое использование" style="white-space: nowrap">Ком. статус:</th> <td>{{ estate.com_status }}</td></tr>
    {% endif %}   
</table>
<div style="margin-top: 3px">
	{% if perms.estatebase.view_private %}
	<table class="detail-table all-borders">
		<tr>
			<th colspan="2">{% trans 'Price' %}</th>
			<th rowspan="2" valign="top">Проценты</th>
		</tr>
		<tr>
			<th>Продавца</th>
			<th>Агентства</th>
		</tr>
		<tr>			
			<td>{{ estate.saler_price|default:'--------'|intcomma }}</td>
			<td>{{ estate.agency_price|default:'--------'|intcomma }}</td>
			<td class="ui-state-highlight">{{ margin }}</td>
		</tr>
	</table>
	{% else %}
	<table class="detail-table all-borders">
		<th>{% trans 'Price' %}</th>
		<td>{{ estate.agency_price|default:'--------'|intcomma }}</td>
	</table>
	{% endif %}
	
</div>

{% endblock %}

{% block title_right %}
{% if estate.correct %}
<span style="float: right; padding: 0 4px; margin: 0 -5px" class="ui-widget-content ui-corner-all available-state">
  <strong>Корректно</strong>
</span>
{% else %}
<span title="{{ estate.validity_report }}" style="float: right; padding: 0 4px; margin: 0 -5px" class="ui-widget-content ui-corner-all sold-state">
    {% if estate.expired %}
    <strong>{{ 'Устарело' }}</strong>
    {% else %}
    <strong>{{ estate.validity_state|default:'Не корректно' }}</strong>
    {% endif %}
</span>
{% endif %}
{% endblock %}