{% extends "dialog_block.html" %}
{% load humanize %}
{% load link_helper %}
{% block title_left %}
<a href="{% url estate_update estate.pk %}?{{ next_url }}">Основная информация</a>
{% endblock %}
{% block content %}

<div class="ui-state-highlight ui-corner-all descr">
	<strong title="{{ estate.estate_type }}">{{ estate.estate_type|truncatechars:33 }} [{{ estate.pk }}]</strong>
	<span style="float: right; padding: 0 4px" class="ui-widget-content ui-corner-all {{ estate.state_css }}">
        <strong>{{ estate.estate_status }}</strong>
    </span>
</div>

<div title="Адрес" class="ui-widget-content descr">
	{% address estate %}
	{% if estate.beside %}
	<div>
		Рассояние до <strong>{{ estate.beside }} {{ estate.beside_distance|default:'' }}</strong> м
	</div>
	{% endif %}	
</div>

<table class="detail-table">
	<tr>
		<th>Источник:</th>
		<td colspan="100%">{{ estate.origin }}</td>
	</tr>
	{% history estate.history %}
	{% if estate.com_status.status %}
    <tr><th title="Коммерческое использование" style="white-space: nowrap">Ком. статус:</th> <td>{{ estate.com_status }}</td></tr>
    {% endif %}   
</table>
<div style="margin-top: 3px">
	<table class="detail-table all-borders">
		<tr>
			<th colspan="2">Цена</th>
			<th rowspan="2" valign="top">%</th>
		</tr>
		<tr>
			<th>Продавца</th>
			<th>Агенства</th>
		</tr>
		<tr>
			<td>{{ estate.saler_price|default:'--------'|intcomma }}</td>
			<td>{{ estate.agency_price|default:'--------'|intcomma }}</td>
			<td class="ui-state-highlight">{{ margin }}</td>
		</tr>
	</table>
</div>

{% endblock %}

{% block title_right %}
{% if estate.correct %}
<span style="float: right; padding: 0 4px; margin: 0 -5px" class="ui-widget-content ui-corner-all available-state">
  <strong>Корректно</strong>
</span>
{% else %}
<span title="{{ estate.validity_report }}" style="float: right; padding: 0 4px; margin: 0 -5px" class="ui-widget-content ui-corner-all sold-state">
  <strong>{{ estate.validity_state|default:'Не корректно' }}</strong>
</span>
{% endif %}
{% endblock %}