{% extends "dialog_block.html" %}
{% load thumbnail %}
{% block title_left %}
<a title="Загрузка и редактирование присоединенных файлов" href="{% url 'generic_files' 'estate' estate.pk %}?{{ next_url }}">Присоединенные файлы</a>
{% endblock %}
{% block content %}

<div class="ui-widget ui-widget-content ui-corner-all" style="padding: 4px;">
    {% for file in files %}
    	{% if not file.is_image %}   
		    <span style="padding: 1px 2px; margin: 2px" class="ui-widget-content ui-corner-all new-state">
		        <a href="{{ file.file.url }}">{{ file.name }}</a>
		    </span>
		{% else %}
		    {% thumbnail file.file "77x80" crop="center" as im %}		    
		    <a rel="lightbox[{{ file.object_id }}]" href="{{ file.file.url }}"><img style="border:1px solid #aaa" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>		    
		    {% endthumbnail %}
	 	{% endif %} 
    {% endfor %}
</div>
{% endblock %}



