{% extends "dialog_block.html" %}
{% load link_helper %}
{% block title_left %}
<a href="{% url estate_params_update estate.pk %}?{{ next_url }}">Метки и заметки</a>
{% endblock %}
{% block content %}

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Метки
    </legend>
    {% for param in estate.estate_params.all %}
    {{ param.name }} {% include 'comma.html' %}
    {% endfor %}
</fieldset>

{% if estate.description %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Описание
    </legend>
    {{ estate.description }}
</fieldset>
{% endif %}

{% if estate.comment and perms.estatebase.view_private %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Комментарий
    </legend>
    {{ estate.comment }}
</fieldset>
{% endif %}

{% endblock %}
