{% extends "dialog_block.html" %}
{% load link_helper %}
{% block title_left %}
<a href="{% url estate_params_update estate.pk %}?{{ next_url }}">Метки и заметки</a>
{% endblock %}
{% block content %}

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Метки
    </legend>
    {% for param in estate.estate_params.all %}
    {{ param.name }} {% include 'comma.html' %}
    {% endfor %}
</fieldset>

{% if estate.wp_meta %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Сводка по сайту:
    </legend>
    	<ul>
    		<li><strong>Статус:</strong> {{ estate.wp_meta.get_status_display }}</li>
    		<li><strong>Обновлено:</strong> {{ estate.wp_meta.updated }}</li>
    		<li><strong>Код wordpress:</strong> <a href="http://www.domnatamani.ru/?p={{ estate.wp_meta.post_id }}">{{ estate.wp_meta.post_id }}</a></li>
    		
    	</ul>
</fieldset>
{% endif %}

{% if estate.description %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Описание
    </legend>
    {{ estate.description }}
    
</fieldset>
{% endif %}

{% if estate.client_description %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Описание заказчику
    </legend>
    {{ estate.client_description }}
    
</fieldset>
{% endif %}

{% if estate.comment and perms.estatebase.view_private %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
    <legend>
        Комментарий
    </legend>
    {{ estate.comment }}
</fieldset>
{% endif %}

{% endblock %}
