{% extends "dialog_block.html" %}
{% load thumbnail %}
{% block title_left %}
<a href="{% url estate_images estate.pk %}?{{ next_url }}">Редактирование фотографий</a>
{% endblock %}
{% block content %}

<div class="ui-widget ui-widget-content ui-corner-all" style="padding: 4px 1px 0px 1px; margin: 0">
    {% for image in images %}

    {% thumbnail image.image "110x80" crop="center" as im %}
    {% thumbnail image.image "800x600" as bim %}
    <a rel="lightbox[{{ estate.pk }}]" href="{{ bim.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
    {% endthumbnail %}
    {% endthumbnail %}

    {% endfor %}
</div>
{% endblock %}

