{% extends "base.html" %}
{% load i18n %}
{% load wp %}

{% block left %}
<h2>Информация</h2>
<h3>Очередь на выгрузку</h3>
{% if queue %}	
	Количество объектов на выгрузку: <strong>{{ queue.count }}</strong> 
	<ol>
	{% for item in queue %}
	<li><strong>{{ item.pk }}</strong>, {{ item.estate_type }}, {{ item.wp_meta.updated }}</li>
	{% endfor %}
	</ol>
{% else %}
Очередь пуста...	
{% endif %}

<h3>Ошибки выгрузки</h3>
{% if err_queue %}	
	Количество объектов с ошибками: <strong>{{ err_queue.count }}</strong> 
	<ol>
	{% for item in err_queue %}
	<li><strong>{{ item.pk }}</strong>, {{ item.estate_type }}, {{ item.wp_meta.updated }}, {{ item.wp_meta.get_status_display }},
		{{ item.wp_meta.error_message }} </li>
	{% endfor %}
	</ol>
<div>
	<form method="post" action="">
		{% csrf_token %}
		<input type="hidden" name="error_to_queue" value="True"/>
		<input type="submit" value="Перенести в очередь"/>
	</form>
</div>
{% else %}
Ошибок нет...	
{% endif %}

{% if request.user.is_superuser %}
<h2>Настройки</h2>
<a href="{% url wordpress_queue %}?meta_report=meta_localities">Населённые пункты</a> |
<a href="{% url wordpress_queue %}?meta_report=meta_estate_types">Виды недвижимости</a> |
<a href="{% url wordpress_queue %}?meta_report=meta_regions">Районы</a> |
<a href="{% url wordpress_queue %}?meta_report=meta_statuses">Статусы</a>

{% if meta_queryset %}
<h3>{{ meta_title }}</h3>
<h4>Для шаблона жёстких полей</h4>
<textarea cols="170" rows="5">
{% separated_list meta_queryset 'wp_id' ' # ' %}
</textarea>
<textarea cols="170" rows="5">
{% separated_list meta_queryset 'name' ' # ' %}
</textarea>	
<h4>Для шаблона поиска по жёстким полям</h4>
<textarea cols="170" rows="5">
:Все, {% keyval_sep_list meta_queryset 'wp_id' 'name' ', ' %}
</textarea>
<h4>Для формирования фида</h4>
<textarea cols="170" rows="5">
{% keyval_sep_feed meta_queryset 'wp_id' 'name' ', ' %}
</textarea>
{% endif %}
{% endif %}

{% endblock %}

