{% for bidg in bidgs %} <h3><a href="#tab-{{ bidg.pk }}">{{ bidg.estate_type }}</a></h3>
<div id="tab-{{ bidg.pk }}">
    <div style="float: left;">
        {% include "bidg_dialog/description.html" %}
    </div>
    {% if not bidg.is_facility %}
    <div style="float: left; margin-left: 10px">
        {% include "bidg_dialog/layout.html" %}
    </div>
    {% endif %}
    <br style="clear: both" />
    {% if not bidg.basic %}
    <div class="button" style="float: left">
        <a href="{% url bidg_remove bidg.pk %}?{{ next_url }}"><strong>Удалить "{{ bidg.estate_type }}"</strong></a>
    </div>
    {% endif %}
</div>
{% endfor %}
