<style>
	.ui-accordion-content {
		padding: 3px !important;
	}
	#estate-accordion h3{
		font-size: 16px;
	}
</style>

<script type="text/javascript">
	$(function() {
		$('a.ajax-dialog').live('click', function() {
			var url = this.href;
			var uniq = 'dialog' + (new Date()).getTime();

			var dialog = $('<div id="' + uniq + '" style="display:hidden"></div>').appendTo('body');

			// load remote content
			dialog.load(url, function(responseText, textStatus, XMLHttpRequest) {
				dialog.dialog({
					modal : true,
					close : function(event, ui) {
						dialog.remove();
					},
					buttons : {
						Отмена : function() {
							dialog.dialog("close");
						}
					}
				});
			});
			//prevent the browser to follow the link
			return false;
		});
		$("#estate-accordion").accordion({
			change : function(event, ui) {
				localStorage.setItem('saved_index', ui.options.active);				
			},
			active : parseInt(localStorage.getItem('saved_index')),
			autoHeight : false
		});
	}); 
</script>

<div id="estate-accordion">

	{% for bidg in estate.bidgs.all %}
	{% with template=bidg.estate_type.template %}

	<h3><a href="#tab-{{ bidg.pk }}">{{ bidg.estate_type }}</a></h3>
	<div id="tab-{{ bidg.pk }}">		
		{% include bidg.estate_type.detail_template %}
		{% include "bidg_dialog/layout.html" %}
		{% if not bidg.basic %}
		<div class="button" style="float: right">
			<a href="{% url bidg_remove bidg.pk %}?{{ next_url }}"><strong>Удалить строение "{{ bidg.estate_type }}"</strong></a>
		</div>		
		{% endif %}		
	</div>
	{% endwith %}
	{% empty %}
	Нет ни одного сооружения.
	{% endfor %}

</div>

<div class="button" style="text-align: right; margin: 10px 0">
<a href="{% url select_estate_type estate.pk %}?{{ next_url }}" class="ajax-dialog">Добавить строение</a>
</div>

{% with stead=estate.basic_stead %}
{% include "details/stead.html" %}
{% endwith %}

