{% extends "registers/register_list.html" %}
{% block table %}
{% include "registers/register_table_estate.html" %}
{% endblock table %}

{% block page_header %}
Добавление лота [{{ estate.pk }}] в подбороки
{% endblock %}

{% block extra_button %}
{% load link_helper %}
<a class="btn-bind-all" href="{% url register_multi_bind estate.pk 1 %}?next={{ request.get_full_path|urlencode }}">Добавить лот [{{ estate.pk }}] во все отобранные подборки</a>
<a class="btn-unbind-all" href="{% url register_multi_bind estate.pk 0 %}?next={{ request.get_full_path|urlencode }}">Отвязать лот [{{ estate.pk }}] от всех отобранных подборок</a>
{% endblock extra_button %}


{% block linkback %}
{% include 'back2estate.html' %}
{% endblock linkback %}
