{% extends "base.html" %}
{% load link_helper %}
{% load query_string %}
{% load paginator %}
{% load humanize %}

{% block css %}
{{ register_filter_form.media.css }}
{% endblock css %}

{% block js %}
{{ register_filter_form.media.js }}
<script type="text/javascript">
	$(function() {
		$("#filter").dialog({
			modal : true,
			width : 420,
			title : 'Фильтр',
			autoOpen : false
		});
	}); 
</script>
{% endblock js %}

{% block page_header %}
Список подборок
{% endblock %}

{% block topbar %}
<div class="topbar button">
	<a class="btn-add" title="Добавить ручную подборку без связи с заявкой" href="{% url register_create_free %}?{{ next_url }}&type=free">Добавить</a>
	<button class="btn-filter-add" type="button" onclick="showFilter('#filter')">Показать фильтр</button>
	{% include 'cancel_filter.html' %}
	{% block extra_button %}{% endblock extra_button %}
	{% include 'prev_view.html' %}
</div>
{% include 'registers/register_filter.html' %}
{% endblock topbar %}

{% block left %}

{% block table %}
{% include 'registers/register_table.html' %}
{% endblock table %}

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:6px">
	{% digg_paginator %}
</div>
{% endif %}

{% endblock left %}