{% extends "base.html" %}
{% load link_helper %}
{% load paginator %}

{% block page_header %}
	Подробная информация о подборке [{{ estateregister.id }}] 
{% endblock %}

{% block topbar %}
<div class="topbar button">
    {% include 'prev_view.html' %}
</div>
{% endblock %}

{% block left %}

<!-- -->
<fieldset class="table-form ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px; display: inline-block">
    <legend style="font-size: 14px;">Информация о подборке</legend>
<table>
	<tr>
		<th>Код:</th>
		<td style="font-weight: bold"><a title="Переименовать подборку" href="{% url register_update estateregister.pk %}?{{ next_url }}">{{ estateregister.pk }}</a></td>
	</tr>
	<tr>
		<th>Название:</th>
		<td>{{ estateregister.name }}</td>
	</tr>	
	{% history estateregister.history %}   
</table>
<div class="topbar button">
    <a target="_blank" href="{% url private_short_report estateregister.pk %}?{{ next_url }}">Кратко для своих</a>    	
    <a target="_blank" href="{% url private_detail_report estateregister.pk %}?{{ next_url }}">Для своих без фото</a>
    <a target="_blank" href="{% url private_detail_report estateregister.pk %}?{{ next_url }}&foto=true">Для своих с фото</a>
    <a target="_blank" href="{% url public_report estateregister.pk %}?{{ next_url }}">Для покупателей без фото</a>
    <a target="_blank" href="{% url public_report estateregister.pk %}?{{ next_url }}&foto=true">Для покупателей с фото</a>
    <a target="_blank" href="{% url orbita_report estateregister.pk %}?{{ next_url }}">Орбита</a>
</div>  
</fieldset>
<!-- -->

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Лоты в подборке</legend>

<div class="topbar button">
    <a href="{% url estate_select_list estateregister.pk %}?r_filter=outregister&{{ next_url }}">Добавление в подборку</a>    	
    <a href="{% url estate_select_list estateregister.pk %}?r_filter=inregister&{{ next_url }}">Просмотр подборки</a>
</div>
    
{% include 'registers/estate_table_register.html' with estate_list=object_list %}

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:10px">
    {% digg_paginator %}
</div>
{% endif %}
</fieldset>

{% endblock left %}