{% extends "base.html" %}
{% load link_helper %}
{% load paginator %}
{% load query_string %}
{% load humanize %}

{% block page_header %}
	Подробная информация о партнере {{ partner.name }}
{% endblock %}

{% block topbar %}
<div class="topbar button">       
	<a title="Удалить партнера [{{ partner.id }}] в корзину" class="btn-delete" href="{% url partner_delete partner.pk %}?{{ next_url }}">Удалить</a> 
    {% include 'prev_view.html' %}    
</div>
{% endblock %}

{% block left %}
<fieldset class="table-form ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Карточка партнера</legend>
<table>
	<tr>
        <th>Код:</th>
        <td title="Редактировать партнера" style="font-weight: bold"><a href="{% url partner_update partner.pk %}?{{ next_url }}">{{ partner.pk }}</a></td>
    </tr>
    {% history partner.history %}
    
    <tr>
        <td colspan="100%">
            <table class="inline-formset ui-widget ui-widget-content ui-corner-all">
            <th><a title="Привязать работника к партнеру" href="{% url client_partner_select partner.pk %}?{{ next_url }}&client_type_1=8">Работники:</a></th>
            {% for clientpartner in partner.clientpartner_set.all %}
            <tr>    
                    <td><a title="Редактирование работника" href="{% url client_update clientpartner.client.pk %}?{{ next_url }}">[{{ clientpartner.client.pk }}]</a></td>         
                    <td><a title="Просмотр карточки работника" href="{% url client_detail clientpartner.client.pk %}?{{ next_url }}">{{ clientpartner.client.name }}</a></td>                           
                    <td><a title="Отношение работника к партнеру" href="{% url client_partner_through_update clientpartner.client.pk partner.pk %}?{{ next_url }}">{{ clientpartner.partner_client_status }}</a></td>
                    <td>{% contact_list clientpartner.client next_url %}</td>                  
                    <td><a class="btn-unbind-inline" href="{% url client_partner_unbind clientpartner.client.pk partner.pk %}?{{ next_url }}">Отвязать</a></td>
            </tr>
            {% endfor %}
            </table>            
        </td>
    </tr>
    
    <tr>
        <th>Источник:</th>
        <td>{{ partner.origin }}</td>
    </tr>
    <tr>
        <th>Вид:</th>
        <td>{{ partner.partner_type }}</td>
    </tr>
	<tr>
		<th>Название:</th>
		<td style="font-weight: bold"><a title="Редактировать заказчика" href="{% url partner_update partner.pk %}?{{ next_url }}">{{ partner.name }}</a></td>
	</tr>
	<tr>
		<th>Адрес:</th>
		<td>{{ partner.address }}</td>
	</tr>    	
	<tr>
		<th>Примечание:</th>
		<td>{{ partner.note }}</td>
	</tr>
</table>


</fieldset>
{% endblock %}


{% block right %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Заявки на покупку и обмен</legend>    

<div class="topbar button">
    <a class="btn-add" href="{% url bid_create partner.pk %}?{{ next_url }}">Добавить новую заявку</a>          
</div>

{% with bid_list=partner.bids_m2m.all  %}
<table class="base-table-list ui-widget ui-widget-content">
    <thead>     
        <tr>
            <th>Код</th>
            <th>Обновлено</th>
            <th>Риэлтор</th>
            <th>Вид недвижимости</th>
            <th>Районы</th>
            <th>Населенные пункты</th>
            <th>Цена</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for bid_item in bid_list %}
        <tr class="ui-widget-content">
            <td><a title="Редактировать заявку" href="{% url bid_update bid_item.pk %}?{{ next_url }}">{{ bid_item.pk }}</a></td>
            <td>{{ bid_item.history.modificated|date:"d M Y" }} </td>
            <td>{% for broker in bid_item.brokers.all %}{{ broker }}{% endfor %}</td>
            <td>
                <a title="Реестры и другая информация о заявке" href="{% url bid_detail bid_item.pk %}?{{ next_url }}">
                	{{ bid_item.mixed_estate_types }}
                </a>
            </td>
            <td> {% comma_list bid_item.regions %} </td>
            <td> {% comma_list bid_item.localities %} </td>
            <td>{% two_num bid_item.agency_price_min bid_item.agency_price_max %}</td>
                                  
            <td><a href="{% url bid_remove bid_item.pk %}?{{ next_url }}">Удалить</a></td>
        </tr>
        {% empty %}
        <tr>
        	<td colspan="100%">
                Заявки отсутствуют..
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endwith %}
</fieldset>

{% endblock %}