<div id="app-events" data-url="{% url view_name object_id %}" data-triggerevent="{% url 'triggerevent' %}" class="ui-widget ui-widget-content ui-corner-all" style="padding: 4px;">
  	<div v-for="event in events" style="margin-top:2px; padding: 2px" class="ui-widget ui-widget-content" v-bind:class="{ 'deactivated': event.deactivated }"> 
	  <a href="#" :title="event.deactivated ? 'Сделать событие активным' : 'Сделать событие неактивным'" v-on:click="trigger">  
	      <strong :data-pk="event.id"><% event.category %></strong>
	  </a>      
      <% event.date %>
      <br>
      <small>
	      <i :title="event.history">Обновлено <% event.modificated %> <% event.modificated_by %></i>           
      </small>
      <br>
      <small>
      <% event.note %>      
      </small>    
  	</div>  
  	<div style="text-align: right;">	
  		<button v-on:click="openDialog" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" title="Добавить новое событие" style="padding: 6px 12px; margin: 3px 0 0 0">Добавить</button>
  	</div>
</div>

<div id="eventerrors" class="redbgtext"></div>