{% load link_helper %}
{{ form.as_table }}{% csrf_token %}
{% history client.history %}
<tr>
    <td colspan="100%"> {{ contact_formset.management_form }}
    <table id="client-contacts" class="inline-formset ui-widget ui-widget-content ui-corner-all">
        {% for contact in contact_formset %}
        {{ contact.id }}
        <tr>
            <td>{{ contact.contact_type.label_tag }}</td>
            <td>{{ contact.contact_type.errors }}{{ contact.contact_type }}</td>
            <td>{{ contact.contact.label_tag }}</td>
            <td>{{ contact.contact.errors }}{{ contact.contact }}</td>
            <td>{{ contact.contact_state.errors }}{{ contact.contact_state }}</td>
            <td>{% if contact.instance.pk %}{{ contact.DELETE }} {% endif %}</td>
        </tr>
        <tr>
            <td colspan="100%">{{ contact.non_field_errors }}</td>
        </tr>
        {% endfor %}

    </table>
    <span>{{ contact_formset.non_form_errors }}</span>
    <div class="help-text">     
        Вид контакта <b>веб-сайт</b> заполняется с формате <b>http://rbc.ru</b>
    </div>
</tr>