{% extends "base_popup.html" %}

{% block css %}
{{ form.media.css }}
{% endblock css %}

{% block js %}
{{ form.media.js }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript">
	$(function() {
		$('#client-contacts tr').formset({
			prefix : '{{ contact_formset.prefix }}',
			addText : 'Добавить контакт',
			deleteText : 'Удалить'
		});
	})
</script>
{% endblock js %}

{% block content %}
<input type="hidden" name="_popup" value="1">
{% include 'clients/client_form_content.html' %}
{% endblock content %}
