{% extends "base.html" %}
{% load link_helper %}
{% load paginator %}
{% load query_string %}
{% load humanize %}

{% block page_header %}
	Подробная информация о заказчике {{ client.name }}
{% endblock %}

{% block topbar %}
<div class="topbar button">       
	<a title="Удалить заказчика [{{ client.id }}] в корзину" class="btn-delete" href="{% url client_delete client.pk %}?next={{ request.GET.next }}">Удалить</a> 
    {% include 'prev_view.html' %}    
</div>
{% endblock %}

{% block left %}
<fieldset class="table-form ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Карточка заказчика</legend>
<table>
	<tr>
        <th>Код:</th>
        <td title="Редактировать заказчика" style="font-weight: bold"><a href="{% url client_update client.pk %}?{{ next_url }}">{{ client.pk }}</a></td>
    </tr>
	<tr>
		<th>Имя:</th>
		<td style="font-weight: bold"><a title="Редактировать заказчика" href="{% url client_update client.pk %}?{{ next_url }}">{{ client.name }}</a></td>
	</tr>
	<tr>
		<th>Вид:</th>
		<td>{{ client.client_type }}</td>
	</tr>
	<tr>
		<th>Источник:</th>
		<td>{{ client.origin }}</td>
	</tr>
	<tr>
		<th>Адрес:</th>
		<td>{{ client.address }}</td>
	</tr>
    {% history client.history %}	
	<tr>
		<th>Примечание:</th>
		<td>{{ client.note }}</td>
	</tr>
</table>

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Контакты</legend>
{% contact_list client next_url %}
</fieldset>

</fieldset>
{% endblock %}


{% block right %}
<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Заявки на покупку и обмен</legend>    

<div class="topbar button">
    <a class="btn-add" href="{% url bid_create client.pk %}?{{ next_url }}">Добавить новую заявку</a>          
</div>

{% with bid_list=client.bids.all  %}
<table class="base-table-list ui-widget ui-widget-content">
    <thead>     
        <tr>
            <th>Код</th>
            <th>Обновлено</th>
            <th>Риэлтор</th>
            <th>Вид недвижимости</th>
            <th>Населенные пункты</th>
            <th>Цена</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for bid_item in bid_list %}
        <tr class="ui-widget-content">
            <td><a title="Редактировать заявку" href="{% url bid_update bid_item.pk %}?{{ next_url }}">{{ bid_item.pk }}</a></td>
            <td>{{ bid_item.history.modificated|date:"d M Y" }} </td>
            <td>{{ bid_item.broker }} </td>
            <td>
                {% for estate_type in bid_item.estate_types.all %}
                    <a title="Реестры и другая информация о заявке" href="{% url bid_detail bid_item.pk %}?{{ next_url }}">{{ estate_type }}</a>{% include 'comma.html' %}
                {% empty %}
                <a title="Реестры и другая информация о заявке" href="{% url bid_detail bid_item.pk %}?{{ next_url }}">---------</a>    
                {% endfor %}
            </td>
            <td>
                {% for locality in bid_item.localities.all %}
                    {{ locality }}{% include 'comma.html' %}
                {% endfor %}
            </td>
            <td>{% two_num bid_item.agency_price_min bid_item.agency_price_max %}</td>
                                  
            <td><a href="{% url bid_remove bid_item.pk %}?{{ next_url }}">Удалить</a></td>
        </tr>
        {% empty %}
        <tr>
        	<td colspan="100%">
                Заявки отсутствуют..
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endwith %}
</fieldset>


<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px; padding: 4px 2px 3px 2px;">
    <legend style="font-size: 14px;">Лоты на продажу</legend>
    
<div class="topbar button">
    <a class="btn-add" href="{% url estate_create_client client.pk %}?{{ next_url }}">Добавить лот на продажу</a>        
</div>    
    
{% with estate_list=client.estates.all  %}
<table class="base-table-list ui-widget ui-widget-content">
    <thead>     
        <tr>
            <th>Код</th>
            <th>Вид и адрес</th>
            <th>Обновлено</th>
            <th>Статус</th>            
            <th>Цена, руб</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for estate_item in estate_list %}
        <tr class="ui-widget-content">
            <td><a href="{% url estate_list_details estate_item.pk %}?estates_1={{ estate_item.pk }}&{{ next_url }}">{{ estate_item.pk }}</a></td>
            <td>
            	<a href="{% url estate_list_details estate_item.pk %}?estates_1={{ estate_item.pk }}&{{ next_url }}">{{ estate_item.estate_type }}</a>
            	<div style="font-size: 90%; font-style: italic">{% address estate_item %}</div>
            </td>
            <td>{{ estate_item.history.modificated|date:"d M Y" }} </td>
            <td>{{ estate_item.estate_status }} {% if estate_item.correct %} <span title="Корректно" style="display: inline-block" class="ui-icon ui-icon-check"> </span> {% endif %}</td>
            
            <td style="text-align: right">
            	{{ estate_item.agency_price|default_if_none:''|intcomma }}
            	<div class="ui-state-disabled" style="font-size: 90%; font-style: italic">{{ estate_item.saler_price|default_if_none:''|intcomma }}</div>
            </td>
            <td><a href="{% url estate_delete estate_item.pk %}?{{ next_url }}">Удалить</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="100%">
                Объекты отсутствуют..
            </td>
        </tr>
        {% endfor %}        
    </tbody>
</table>
{% endwith %}
</fieldset>

{% endblock %}