{% extends "base.html" %}
{% load link_helper %}
{% load paginator %}
{% load query_string %}
{% load sorting_tags %}

{% block css %}
{{ client_filter_form.media.css }}
{% endblock css %}
{% block js %}
{{ client_filter_form.media.js }}
<script type="text/javascript">
	$(function() {

		$("#filter").dialog({
			modal : true,
			width : 450,
			title : 'Фильтр',
			autoOpen : false
		});		
		
	});
</script>
{% endblock js %}

{% block page_header %}
	Список заказчиков	
{% endblock %}
{% block topbar %}
<div class="topbar button">
    <a class="btn-add" href="{% url client_create %}?{{ next_url }}">Добавить нового заказчика</a>
    <button class="btn-filter-add" onclick="showFilter('#filter')">Показать фильтр</button>    
    {% include 'prev_view.html' %}
    {% include 'cancel_filter.html' %}
    {% if request.user.is_superuser %}
        <span style="padding: 5px; color: #ccc"> </span>
        <a class="btn-phone" href="{% url client_list_contacts 1 %}?{{ get_params }}">Экспорт телефонных номеров</a>
        <a class="btn-email" href="{% url client_list_contacts 2 %}?{{ get_params }}">Экспорт адресов электронной почты</a>
    {% endif %}
</div>
{% endblock %}

{% block left %}

<table class="base-table-list ui-widget ui-widget-content">
    <thead>
        <tr>
            <th>{% anchor id 'Код' %}</th>
            <th>{% anchor client_type 'Тип' %}</th>
            <th>{% anchor name 'Имя' %}</th>
            <th>Место жительства</th>
            <th>Контакты</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr class="ui-widget-content">
            <td><a title="Редактировать заказчика" href="{% url client_update client.pk %}?{{ next_url }}">{{ client.pk }}</a></td>
            <td><span title='Источник: {{ client.origin|default_if_none:"----" }}'>{{ client.client_type }}</span></td>
            <td><a title="Показать карточку заказчика" href="{% url client_detail client.pk %}?{{ next_url }}">{{ client.name }}</a></td>
            <td>{{ client.address|default_if_none:"" }}</td>
            <td> {% contact_list client next_url %} </td>
            <td> {% block lastcol %} <a href="{% url client_delete client.pk %}?{{ next_url }}">Удалить</a> {% endblock %} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:10px">
    {% digg_paginator %}
</div>
{% endif %}

<div class="button table-form" id='filter'>
    <form method="get">
        <table class="filter-table ui-widget ui-widget-content ui-corner-all" style="width:100%">
            <tr>
                <td class="top-align">
                <table>
                    {{ client_filter_form.as_table }}
                </table></td>
                <tfoot>
                    <tr>
                        <td colspan=3><a href="{{ request.path }}?next={{ request.GET.next|urlencode }}">Сбросить</a>
                        <input type="submit" value="Применить"/>
                        </td>
                    </tr>
                </tfoot>
        </table>
    </form>
</div>

{% endblock %}

