{% extends "base_popup.html" %}
{% load link_helper %}
	
{% block css %}
{{ form.media.css }}
{% endblock css %}

{% block js %}
{{ form.media.js }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript">
	$(function() {
		$('#client-contacts tr').formset({
			prefix : '{{ contact_formset.prefix }}',
			addText : 'Добавить контакт',
			deleteText : 'Удалить'
		});
	})
	
	function closeForm(){
		//window.close();
	}
</script>
{% endblock js %}

{% block content %}
<input type="hidden" name="_popup" value="1">
{{ form.as_table }}{% csrf_token %}
{% history client.history %}
<tr>
	<td colspan="100%"> {{ contact_formset.management_form }}
	<table id="client-contacts" class="inline-formset ui-widget ui-widget-content ui-corner-all">
		{% for contact in contact_formset %}
		{{ contact.id }}
		<tr>
			<td>{{ contact.contact_type.label_tag }}</td>
			<td>{{ contact.contact_type.errors }}{{ contact.contact_type }}</td>
			<td>{{ contact.contact.label_tag }}</td>
			<td>{{ contact.contact.errors }}{{ contact.contact }}</td>
			<td>{{ contact.contact_state.errors }}{{ contact.contact_state }}</td>
			<td>{% if contact.instance.pk %}{{ contact.DELETE }} {% endif %}</td>
		</tr>
		<tr>
			<td colspan="100%">{{ contact.non_field_errors }}</td>
		</tr>
		{% endfor %}

	</table>
	<div class="help-text">
		Вид контакта <b>веб-сайт</b> заполняется с формате <b>http://rbc.ru</b>
	</div>
</tr>
{% endblock content %}
