{% load static %}
{% load sitetree %}
<!DOCTYPE html>
<html lang="en">
  <head>  	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Календарь событий</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.min.css' %}">    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
    <link href="{{ STATIC_URL }}/css/print.css?1.0.0" rel="stylesheet">        
    {{ form.media.css }}   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.css" />
  </head>
  <body>
    <div class="container">
    
    	{% block header %}{% endblock %}
    	<nav class="navbar navbar-default">    
		<div class="container-fluid">			
		{% if user.is_authenticated %}	    
      		{% sitetree_menu from "maintree" include "trunk,topmenu" template "sitetree/menu_bootstrap3.html" %}
      		              
            {% block linkback %}{% endblock %}                    
            {% block topbar %}{% endblock %}      		
	    </div>  
	   	{% endif %}
		</nav>
    
    	<div class="page-header"><h1>Календарь событий</h1></div>
		
		{% if form %}
		<div id='users_select2' class="panel panel-default">
			<div class="panel-body">		
			    {% csrf_token %}
			    {{ form.non_field_errors }}
			    <div class="fieldWrapper">
				    {{ form.users.errors }}
				    <label for="{{ form.users.id_for_label }}">Пользователи:</label>
				    {{ form.users }}
				</div>
			</div>
		</div>
		{% endif %}
				
		<div id='calendar' data-bidcalendarevents='{% url "bidcalendarevents" %}' 
						   data-estatecalendarevents='{% url "estatecalendarevents" %}'
						   data-clientcalendarevents='{% url "clientcalendarevents" %}'
						   >
		</div>   
       			
	
	</div>
    <!-- Bootstrap Core JavaScript -->   
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/moment.min.js' %}" ></script>  	
    <script src="{% static 'fullcalendar/fullcalendar.min.js' %}" ></script>
    <script src="{% static 'fullcalendar/locale/ru.js' %}" ></script>
    <script src="{% static 'fullcalendar/custom.js?3' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.js"></script>   
    {% include 'session_security/all.html' %}
    {{ form.media.js }}        
  </body>
</html>