{% extends "dialog_block.html" %}

{% block content %}

{% if form.errors %}
<div class="ui-state-error ui-corner-all" style="padding: 3px;margin: 3px">
    Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.
</div>
{% endif %}

<form method="post" action="{% url 'login' %}" class="button">
    {% csrf_token %}
    <table class="detail-table" style="width:100%">
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input style="margin: 4px 0 3px; float: right" type="submit" value="Войти" />
    <input type="hidden" name="next" value="{{ next }}" />
    <br style="clear: both" />
</form>
{% endblock %}

{% block title_left %}Введите имя пользователя и пароль...{% endblock %}