{% spaceless %}
{% load content_edit_tags %}
{% load category_tags %}
{% load thumbnail %}
{% category 'domanayuge' as domanayuge %}
<rss
{% endspaceless %}
    xmlns:yandex="http://news.yandex.ru"
    xmlns:media="http://search.yahoo.com/mrss/"
    xmlns:turbo="http://turbo.yandex.ru"
    version="2.0"
>
    <channel>
        <item turbo="true">
            <link>{{ link }}</link>
            <turbo:content>
                <![CDATA[
                    <header>
                        <h1>{% block page_title %}{{ site_meta.title|default:domanayuge.name }}{% endblock %}</h1>                        
                    </header>
                    
                    <figure>
                    {% thumbnail root.image "720" crop="center" as im %}		    
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                        <figcaption>{{ site_meta.description|default:domanayuge.description }}</figcaption>
                    </figure>                 
                    
                    
                ]]>
            </turbo:content>
        </item>
    </channel>
</rss>