{% extends "base.html" %}
{% load thumbnail %}

{% load query_string %}
{% load link_helper %}
{% load humanize %}
{% block head %}

<script type="text/javascript">
	$(document).ready(function() {

	}); 
</script>
<style>
	.bidg-list {
		margin: 0;
		padding: 0 0 0 5px;
		list-style: none;
	}

	.bidg-list li {
		padding: 0;
		display: inline-block;
	}
</style>

{% endblock head %}

{% block left %}

Количество объектов {{ total_count }}

{% for estate in estate_list %}

<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 9px">
	<legend>
		<span class="ui-corner-all ui-widget-content ui-state-highlight" style="padding: 2px 5px;"> [<a href="{{ estate.detail_link  }}?{{ next_url }}">{{ estate.pk }}</a>]
			{{ estate.estate_type }} </span>
		<span class="ui-corner-all ui-widget-content {{ estate.state_css }}" style="margin: 0 0 0 30px; padding: 2px 5px; width: 100px"> <a href="{% url estate_update estate.pk %}?{{ next_url }}">{{ estate.estate_status }}</a> </span>

		<span class="ui-corner-all ui-widget-content" style="margin: 0 3px; padding: 2px 5px;"> {{ estate.history.modificated|date:"d M Y H:i" }} </span>

		{% if estate.correct %}
		<span class="ui-corner-all ui-widget-content" style="margin: 0 3px; padding: 2px 5px; background: #E3FDD5 !important;"> Корректно </span>
		{% endif %}
	</legend>
	<div style="text-align:right; font-weight: bold; padding: 5px 0 0 5px; border-bottom: 1px solid #ddd; font-size: 14px; margin-bottom: 5px">
		<a href="{% url estate_update estate.pk %}?{{ next_url }}"> {% address estate %} </a>
		{% if estate.agency_price %}
		<span class="ui-corner-all ui-widget-content ui-state-highlight" style="padding: 2px 5px;"> Цена: {{ estate.agency_price|default_if_none:''|intcomma }} руб </span>
		{% endif %}
	</div>
	<div style="float: left; width: 325px ">
		{% client_list estate next_url %}
	</div>
	<div style="float: left; ">
		{% with bidg=estate.basic_bidg %}
		{% if bidg  %}
		<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px">
			<legend>
				{{ bidg.estate_type }}
			</legend>

			<ul class="bidg-list">
				{% for field_name in bidg.inline_fields %}
				{% inline_field bidg field_name %}
				{% endfor %}
			</ul>

		</fieldset>
		{% endif %}
		{% endwith %}

		{% with stead=estate.basic_stead %}
		{% if stead  %}
		<fieldset class="ui-widget ui-widget-content ui-corner-all" style="margin-top: 2px">
			<legend>
				Участок
			</legend>
			<ul class="bidg-list">
				{% for field_name in stead.inline_fields %}
				{% inline_field stead field_name %}
				{% endfor %}
			</ul>
		</fieldset>
		
		<div class="ui-widget ui-widget-content ui-corner-all" style="padding: 4px 1px 0px 1px; margin: 0">
{% for image in estate.images.all %}

{% thumbnail image.image "110x80" crop="center" as im %}
{% thumbnail image.image "800x600" watermark="http://yandex.ru" crop="center" as bim %}
 <a rel="lightbox[{{ estate.pk }}]" href="{{ bim.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
{% endthumbnail %}
{% endthumbnail %}

{% endfor %}
</div>	
		
		{% endif %}
		{% endwith %}

	</div>
</fieldset>

{% endfor %}

{% if is_paginated %}
<div class="pagination" style="float: left; padding-top:6px">
	<span class="page-links"> <a href="{{ request.path }}{% query_string 'page=1' '' %}">Первая</a> {% if page_obj.has_previous %} <a href="{{ request.path }}{% query_string 'page=page_obj.previous_page_number' '' %}">Предыдущая</a> {% endif %} <span class="page-current"> Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}. </span> {% if page_obj.has_next %} <a href="{{ request.path }}{% query_string 'page=page_obj.next_page_number' '' %}">Сдедующая</a> {% endif %} <a href="{{ request.path }}{% query_string 'page=page_obj.paginator.num_pages' '' %}">Последняя</a> </span>
</div>

{% endif %}

{% endblock left %}