{% extends "base.html" %}
{% load link_helper %}
{% block left %}

<script type="text/javascript">
	$(document).ready(function() {
		$("#feed-content-type").accordion({
			autoHeight : false,
			active : 0
		});
	}); 
</script>

<div id="feed-content-type">	
	{% for object in object_list %}
	<h3><a href="#">{{ object }}</a></h3>
	<div>		
		<ul>				
				{% for node in object.nodes.all %}
					<li>
						<a title="XML feed node - {{ node }}" href="{% url type_detail object.id node.id  %}">{{ node.xml_node }}</a>
					</li>
				{% endfor %}	
			
		</ul>
	</div>
	{% endfor %}
</div>

{% endblock %}