{{ form.media.css }}
{{ form.media.js }}
<script type="text/javascript">
	function newParameters(query) {
		query.locality = $('#id_locality').val();
	}

	function bindParameters() {
		$('#id_street_0').djselectable('option', 'prepareQuery', newParameters);
	}

	function rebindDialog() {
		bindSelectables();
		bindParameters();
	}

	function setDialogTitle(dialog) {
		dialog.dialog('option', 'title', '{{ estate_type_name }}');
	}


	$(document).ready(function() {
		bindParameters();
	}); 
</script>
<form action="" method="POST">	
		{{ form.as_p }}{% csrf_token %}	
</form>
