body {
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

h1 {
	font-size: 20px;
	color: #999;
	/*border-bottom: 1px solid #999;*/
	font-weight: normal;
}

td, th {
	padding: 1px 3px;
}

.report-table, .report-table table, .newspaper-report-table {
	border-collapse: collapse;
	page-break-inside:avoid;
}

.report-table {
	margin-top: 0;
	width: 100%;
}

.report-table th {
	text-align: left;
	font-weight: normal;
}

.report-table th, .report-table td {
	font-size: 13px;
}

.report-table table {
	width: 100%;
}

.report-table table td {
	font-weight: bold;
}

.report-table table tr {
	border-bottom: 1px dotted #ccc;
}

.report-table table tr:last-child {
	border-bottom: 0;
}

.report-table .headline td {
	/*background: #eee;*/
	border: 1px solid #ccc;
}

.report-table .headline td:first-child, .report-table .headline td:last-child {
	background: #eee;
}

.report-table {
	border: 1px solid #ccc;	
}

.separator {
	height: 15px;
	border-top: 1px double #ccc;
}

.report-table label, .report-table .layout {
	font-weight: normal;
}

.report-table fieldset {
	display: inline-block;
	border: 1px solid #ccc;
}

.report-table img {
	border: 3px solid #CCCCCC;
}

.wrapper, .wrapper-0 {
	border-top: 1px dotted #ccc;
}

.wrapper-0 {	
	padding: 2px 15px;
}

.wrapper-1 {
	/*border-bottom: 1px dotted #ccc;*/
	padding: 2px 15px;
	font-size: 12px;
}

.wrapper-1 div {
	/*padding: 0 15px;*/
}

.list-title {
	font-weight: bold;
	font-size: 115%;
}

.public-thead th {	
	border: 1px solid #ccc;
	background: #eee;
}

.newspaper-report-table {
	border: 1px double #999;
}

.newspaper-report-table td {
	border-top: 1px double #999;
	font-size: 13px;
	padding: 4px;
}

.newspaper-report-table tr:first-child td {
	border-top: 0;
}

.marked-header {
	background: #eee;
	color: #666;
	padding: 0 2px 0 0;
}

.strong {
	font-weight: bold;
	color: #000000;
}

.layout-header {
	padding-left: 20px;
}

.layout-details {
	padding-left: 20px;
}
