body {
	font-size: 12px;
	font-family: sans-serif;
	margin: 0;
	background: #363636;
}

#wrapper {
	margin: auto;
	padding: 2px 10px 10px 10px;
	width: 1100px;
	background: white;
	border: 3px solid #666;
	border-top: 0;
	background: white;
}

#left {
	float: left;
	margin: 0 10px 0 0;
}

#right {
	float: left;
}

#extra {
	float: left;
	margin: 0 0 0 10px;
}

#estate_nav {
	/*width: 300px;*/
}

#estate_nav ul {
	padding-left: 0.5em;
	margin: 0;
	list-style: none;
}

#estate_nav ul li {
	padding: 0 0.3em;
}

#header {
	margin: 2px 0 3px 0;
}

.ui-selecting {
	background: #FECA40 !important;
}
.ui-selected {
	background: #F39814 !important;
	color: white;
}

.table-form table {
	/*border-spacing: 0;*/
}

.table-form ul {
	margin-left: 0;
	padding-left: 0;
}

.table-form li {
	list-style: none;
}

.table-form table th {
	text-align: left;
	padding-left: 10px;
	/*vertical-align: bottom;*/
	/*padding-bottom: 0.5em;*/
}

.table-form thead tr td {
	padding: 0;
}

.table-form table tfoot {
	text-align: right;
}

.table-form table td {
	padding: 2px;
	/*vertical-align: bottom;*/
}

.table-form .big-text-input, .table-form textarea {
	width: 98%;
}

.table-form textarea {
	height: 75px;
}

.inline-formset {
	padding: 4px;
}

.inline-formset ul {
	padding: 0 2px;
}

.inline-formset tfoot td {
	padding-top: 20px;
}

.inline-formset tbody td {
	vertical-align: bottom;
}

.errorlist {
	color: #CD0A0A;
	padding: 2px;
	list-style-type: none;
	margin: 0 0 2px;
}

span.contact-inline {
	border: 1px solid #DDDDDD;
	padding: 0px 3px;
	margin-right: 0;
	background-color: #fffdec;
	border-radius: 2px;
}

span.contact-inline label, .bidg-list label {
	color: #5B80B2;
}

.confirm-dialog {
	width: 350px;
	padding: 1px;
	margin-bottom: 2px;
}

.confirm-dialog table {
	margin-left: auto;
}

.confirm-dialog-content {
	padding: 4px;
}

.confirm-dialog-title {
	padding: 3px;
}

.dialog-title {
	padding: 0 0 0 8px;
}

.base-table-list {
	/*border: 1px solid #DFDFDF;*/
	/*background-color: #F9F9F9;*/
	/*border-radius: 4px;*/
	/*color: #333;*/
	/*border-spacing: 0 1px;*/
	border-collapse: collapse;
	/*padding: 4px;*/
}
.base-table-list td, .base-table-list th {
	/*border-top-color: white;
	border-bottom: 1px solid #DFDFDF;*/
	/*color: #555;*/
}
.base-table-list th {
	/*color: #999;*/
	text-align: left;
	padding: 5px 5px;
	/*background-color: #e1e9ec;*/
}
.base-table-list td {
	padding: 2px 5px 2px;
	vertical-align: top;
	font-weight: normal !important;
	border: 0 !important;	
}

.base-table-list tr:nth-child(even) {
	background-color: #fff;
}

.base-table-list tfoot td {
	border: 0;
	padding: 2px;
}

.base-table-list tfoot td {
	background-color: white;
}

.base-table-list .ui-button-text {
	/*	padding: 0.1em 1em;*/
}

.inline-button a span {
	font-size: 0.9em;
}

.ui-dialog-titlebar-close {
	float: right;
	margin-right: 5px;
}

.table-grid {
	/*width: 300px;*/
	/*border-collapse: collapse;*/
}

.table-grid tbody td {
	padding-left: 7px;
}

.no-margin-list {
	padding: 0;
	margin: 0;
}

.no-margin-list li {
	list-style: none;
	padding: 2px 0;
}

.available-state, .free-state {
	background: #e3fdd5 !important;
}

.non-available-state {
	background: #dfdfdf !important;
}

.ban-state, .exclude-state {
	background: #ffd9ee !important;
}
.not-responded-state, .sold-state {
	background: #fdfadf !important;
}

.not-checked-state, .new-state {
	background: white !important;
}

.zebra-list {
	list-style: none;
}

.zebra-list li {
	padding: 2px 5px 2px 5px;
}

.zebra-list li:nth-child(odd) {
	background-color: #FFF;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.ui-button {
	margin-top: 0;
}

.number-field input {
	width: 5em;
}

.detail-table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0 !important;
	border: 1px solid #ccc;
	border-bottom: 0;
}

.detail-table td, .detail-table th {
	text-align: left;
	padding: 1px 5px;
	border-bottom: 1px solid #ccc;
}

.detail-table td:nth-child(odd) {
	border-left: 1px solid #ccc;
}
.detail-table tr:nth-child(odd) {
	background: white;
}

.checkbox-select-multiple ul {
	padding: 0;
}

.checkbox-select-multiple ul li {
	list-style: none;
}

.descr {
	margin: 3px 0;
	padding: 3px
}

.all-borders td, .all-borders th {
	border: 1px solid #ccc;
}

.ui-combobox {
	position: relative;
	display: inline-block;
}

input {
	padding: 1px 2px;
}

select {
	border: 1px solid #ddd;
}

.ui-combo-button {

}

.ui-combo-button .ui-button-text {
	padding: 1px;
}

.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: 2px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}

.item {
	/*font-weight: bold;*/
}

.user-info {
	float: right;
	font-size: 11px;
	padding: 1px 10px 2px 10px;
}

.layout-details span {
	/*line-height: 21px;*/
}

.layout-details {
	margin-top: 1px;
}

.layout-details {
	border-bottom: 1px solid #ddd;
}

.layout-details:last-child {
	border-bottom: 0;
}

fieldset {
	padding: 3px;
	margin-bottom: 3px;
}

legend {
	font-weight: bold;
}

.no-border {
	border: 0;
}

.pagination ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination li {
	display: inline;
	padding: 1px 5px;
	border: 1px solid #ddd;
	margin: 0 1px;
}

.date-input, .number-input {
	width: 75px;
	margin: 0 3px 0 0;
}

.filter-table td.top-align {
	vertical-align: top;
}

.detail-table td {
	border: 1px solid #ddd;
}
.ui-tabs-panel {
	padding: 4px 3px !important;
}
.selectable-deck {
	margin: 0;
}
#filter td {
	padding: 0 5px;
}

.ui-button-text {
	line-height: inherit !important;
}

.style-table {
	border-collapse: separate;
	border-spacing: 0 1px;
}
.style-table td {
	font-weight: normal !important;
	padding: .2em .4em;
	border-top-width: 1px !important;	
}
.style-table th {
	text-align: left;
	padding: .6em .4em;
}
.style-table td.first, .style-table th.first {
	border-left-width: 0px !important;
}

.table-form table th {
	font-weight: normal !important;	
	color:#555;
}

.table-state-highlight {
	background: #bcc6c9;
}
