body {
	font-size: 11px;
	font-family: sans-serif;
}

#estate_nav {
	max-width: 300px;
}

#estate_nav ul {
	padding-left: 0.5em;
	margin: 0;
	list-style: none;
}

#estate_nav ul li {
	padding: 0 0.3em;
}

.ui-selecting {
	background: #FECA40 !important;
}
.ui-selected {
	background: #F39814 !important;
	color: white;
}
