body {
	font-size: 12px;
	font-family: sans-serif;
}

#left {
	float: left;
	margin: 0 10px 0 0;
}

#right {
	/*	float: right;*/
}

#estate_nav {
	width: 300px;
}

#estate_nav ul {
	padding-left: 0.5em;
	margin: 0;
	list-style: none;
}

#estate_nav ul li {
	padding: 0 0.3em;
}

.ui-selecting {
	background: #FECA40 !important;
}
.ui-selected {
	background: #F39814 !important;
	color: white;
}

.table-form table{
	/*border-spacing: 0;*/
}

.table-form table th {
	text-align: left;
	padding-left: 10px;
}

.table-form thead tr td {
	padding: 0;
}

.table-form table tfoot {
	text-align: right;
}

.table-form table td {
	padding: 2px;
}

.table-form .big-text-input, .table-form textarea {
	width: 98%;
}

.inline-formset {
	padding: 4px;
}

.inline-formset ul {
	padding: 0 2px;
}

.inline-formset tfoot td{
	padding-top: 20px; 
}

.errorlist {
	color: #CD0A0A;
	padding: 2px;
	list-style-type: none;
	margin: 0 0 2px;
}

span.contact-inline {
	border: 1px solid #DDDDDD;
	padding: 0px 3px;
	margin-right: 0;
	background-color: #fffdec;
	border-radius: 2px;
}

span.contact-inline label {
	color: #5B80B2;
}

.confirm-dialog {
	width: 350px;
	padding: 1px;
}

.confirm-dialog table {
	margin-left: auto;
}

.confirm-dialog-content {
	padding: 4px;
}

.confirm-dialog-title {
	padding: 5px;
}

.dialog-title {
	padding: 0 0 0 8px;
}

.base-table-list {
	/*border: 1px solid #DFDFDF;*/
	/*background-color: #F9F9F9;*/	
	border-radius: 4px;
	/*color: #333;*/
	border-spacing: 0;
	border-collapse:collapse;
	/*padding: 4px;*/
}
.base-table-list td, .base-table-list th {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	/*color: #555;*/
}
.base-table-list th {
	/*color: #999;*/
	text-align: left;
	padding: 3px 7px 3px;
	/*background-color: #e1e9ec;*/
}
.base-table-list td {
	padding: 4px 7px 4px;
	vertical-align: top;
}

.base-table-list tr:nth-child(even) {
	background-color: #fff;
}

.base-table-list tfoot td {
	border: 0;
	padding: 2px;
}

.base-table-list tfoot td {
	background-color: white;
}

.base-table-list .ui-button-text {
/*	padding: 0.1em 1em;*/
}

.inline-button a span {
	font-size: 0.9em;
}

#client_list {
	/*width: 700px;*/
}

.ui-dialog-titlebar-close {
	float: right;	
	margin-right: 5px;
}

.table-grid {
/*	width: 300px;*/	
}

.no-margin-list {
	padding: 0;
	margin : 0;
}

.no-margin-list li {
	list-style: none;
}

.available-state {
	background: #e3fdd5 !important;
}

.non-available-state {
	background: #dfdfdf !important;
}

.ban-state {
	background: #ffd9ee !important;
}
.not-responded-state {
	background: #fdfadf !important;
}

.not-checked-state {
	background: white !important;
}
