<div class="portfolio-modal modal fade" id="modalMore" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Узнать цену дома</h2>
                            <div id="result-send"></div>
                            <form id="knowPrice" name="sentMessage" novalidate>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Имя *" id="nameUser" required data-validation-required-message="Пожалуйста, введите ваше имя.">
                                        <input type="text" class="form-control" placeholder="Телефон *" id="phoneUser" required data-validation-required-message="Пожалуйста, укажите ваш телефон.">
                                        <input type="text" class="form-control" placeholder="Email" id="emailUser">
                                        <input type="text" class="form-control" placeholder="Желаемая площадь дома" id="square">
                                        <input type="text" class="form-control" placeholder="Этажность" id="floors">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Материал стен" id="walls">
                                        <input type="text" class="form-control" placeholder="Кровля" id="roof">
                                        <textarea class="form-control" id="commentUser" placeholder="Комментарий"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-xl">Отправить</button>
                                </div>
                                <div class="col-12 text-center">
                                    <small class="footnote-feedback">Нажимая кнопку "Отправить сообщение" вы даёте согласние на обработку персональных данных и соглашаетесь с <a href="https://domanayuge.ru/blog/politika-konfidencialnosti" target="_blank">политикой конфиденциальности</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>